{
    "openapi": "3.0.1",
    "info": {
        "title": "Oway API",
        "description": "Oway APIs for shippers and carriers.\n\n## Authentication & Authorization\n\nThe Shipper API uses a two-layer security model:\n\n### Layer 1: Authentication (Bearer Token)\n\n**Proves who you are.** All requests require a valid JWT Bearer token.\n\n| Scope | Access |\n|-------|--------|\n| `shipper` | Access to `/v1/shipper/**` endpoints |\n| `carrier` | Access to `/v1/carrier/**` endpoints |\n| `dev` | Sandbox environment access |\n| `prod` | Production environment access |\n\n**Request a Token:**\n```\nPOST /v1/auth/token\n{\n  \"clientId\": \"YOUR_CLIENT_ID\",\n  \"clientSecret\": \"YOUR_CLIENT_SECRET\"\n}\n```\n\n**Include in all requests:**\n```\nauthorization: Bearer {accessToken}\n```\n\nTokens are valid for 24 hours.\n\n### Layer 2: Authorization (API Key)\n\n**Proves which company you're accessing.**  API requests require an API key.\nEach key is tied to a single company in Oway.\n\n**Key Formats:**\n- Shipper: `oway_sk_xxx...`\n- Carrier: `oway_ck_xxx...`\n\n**Include in all API requests:**\n```\nx-oway-api-key: oway_sk_abc123def456...  # for Shipper API\nx-oway-api-key: oway_ck_abc123def456...  # for Carrier API\n```\n\nAPI keys are:\n- **Self-service**: Generate and manage keys in your Oway portal\n- **Per-company**: Each key grants access to one company's resources\n- **Revocable**: Delete keys at any time to revoke access\n- **Auditable**: Track which key is used for each request\n\n### Complete Request Examples\n\n**Search for a shipment:**\n```\nGET /v1/shipper/shipment/search?orderNumber=25\nauthorization: Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9...\nx-oway-api-key: oway_sk_tGQzVonqp1odPHJ7zDYImBLYuVQ6Sz9S...\n```\n\n**Create a shipment:**\n```\nPOST /v1/shipper/shipment\nauthorization: Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9...\nx-oway-api-key: oway_sk_tGQzVonqp1odPHJ7zDYImBLYuVQ6Sz9S...\ncontent-type: application/json\n\n{\n  \"pickupAddress\": {\n    \"address1\": \"1531 Junipero Avenue\",\n    \"city\": \"Long Beach\",\n    \"state\": \"CA\",\n    \"zipCode\": \"90804\",\n    \"contactName\": \"John Smith\",\n    \"contactPhone\": \"+18087857650\"\n  },\n  \"deliveryAddress\": { ... },\n  \"weight\": 500,\n  \"commodityDescription\": \"Palletized goods\"\n}\n```\n\n**Submit GPS data (Carrier API):**\n```\nPOST /v1/carrier/{carrierId}/gps-data\nauthorization: Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9...\nx-oway-api-key: oway_ck_abc123def456ghi789jkl012mno345...\ncontent-type: application/json\n\n[\n  {\n    \"vehicleId\": \"TRUCK-001\",\n    \"latitude\": 33.787363,\n    \"longitude\": -118.163715,\n    \"timestamp\": \"2025-02-20T17:33:15Z\",\n    \"heading\": 180,\n    \"speed\": 55\n  }\n]\n```\n\n## API Key Details\n\nEach API key is **tied to a single company** in Oway. The key determines which company's\nresources you can access:\n\n- Use a **shipper key** (`oway_sk_...`) for Shipper API endpoints\n- Use a **carrier key** (`oway_ck_...`) for Carrier API endpoints\n\n**Key Management:**\n- Generate keys in your Oway portal (Settings \u2192 API Keys)\n- Each key is tied to your company - you cannot access other companies' data\n- Revoke keys at any time to disable access\n- Keys are shown only once at creation - store them securely\n\n## Shipper API Workflow\n\n### Setup Flow\n1. **Create a Company** - Create a shipper company with billing information\n2. **Create Users** - Create users associated with the company\n3. **Place Shipments** - Users can now create shipments\n\n### Shipment Flow\n1. **Request a Quote** (optional) - Quotes are valid for 2 days\n2. **Create Shipment** - Creates order in INITIALIZED state\n3. **Confirm Shipment** - Confirms the order for pickup\n\n## Response Codes\n\n| Code | Description |\n|------|-------------|\n| 200 | Success |\n| 400 | Bad Request - validation error |\n| 401 | Unauthorized - invalid or missing authentication |\n| 403 | Forbidden - missing required scope or resource access denied |\n| 404 | Not Found |\n| 429 | Rate limit exceeded |\n| 500 | Internal server error |\n",
        "contact": {
            "name": "Oway Support",
            "email": "support@oway.io"
        },
        "version": "1.0.0"
    },
    "externalDocs": {
        "description": "Oway API Developer Portal",
        "url": "https://oway.readme.io"
    },
    "servers": [
        {
            "url": "https://api.oway.io",
            "description": "Production"
        },
        {
            "url": "https://api.sandbox.oway.io",
            "description": "Sandbox Environment"
        },
        {
            "url": "https://api.demo.oway.io",
            "description": "Demo Environment"
        },
        {
            "url": "http://localhost:8181",
            "description": "Local Development"
        }
    ],
    "tags": [
        {
            "name": "Shipper API",
            "description": "Shipper integration endpoints for quotes and shipments.\n\n**Authentication & Authorization Required:**\n\nAll endpoints require BOTH credentials:\n1. **Bearer Token** (`authorization: Bearer {token}`) - Proves identity, requires `shipper` scope\n2. **API Key** (`x-oway-api-key: oway_sk_...`) - Determines which company's resources you can access\n\nThe API key is tied to your shipper company and automatically scopes all operations to that company's data.\nSee the Authentication section above for details on obtaining credentials.\n"
        },
        {
            "name": "Carrier API",
            "description": "Carrier integration endpoints for GPS data submission, trip management, and job retrieval"
        },
        {
            "name": "Authentication",
            "description": "API authentication endpoints for obtaining access tokens"
        }
    ],
    "paths": {
        "/v1/shipper/shipment/{orderNumber}/confirm": {
            "put": {
                "tags": [
                    "Shipper API"
                ],
                "summary": "Confirm a shipment by order number",
                "description": "Confirms an existing shipment using its order number (PRO number).\nMoves the shipment from INITIALIZED to CONFIRMED state.\n\n**Prerequisites:**\n- The order must be in INITIALIZED state\n- The order must have an associated quote\n\n**Validation Requirements:**\n\nThe following fields are validated during confirmation. If any are missing or invalid,\nthe shipment will remain in INITIALIZED state.\n\n*Address Fields (required on BOTH pickup and delivery addresses):*\n- `name` - Location/company name\n- `address1` - Street address\n- `zipCode` - ZIP code\n- `contactPerson` - Contact name\n- `phoneNumber` - Contact phone (E.164 format, e.g., \"+15551234567\")\n- `openTime` - Opening time in HH:mm format (defaults to \"10:00\")\n- `closeTime` - Closing time in HH:mm format (defaults to \"16:00\")\n\n*Order Fields:*\n- `description` - Must not be empty\n- `totalPalletCount` - Must be between 1 and 51\n- `totalPoundsWeight` - Must be between 1 and 2,500 lbs per pallet\n\n*Order Component Fields (per component):*\n- `palletCount` - Must be at least 1\n- `poundsWeight` - Must be between 1 and 2,500 lbs per pallet\n- `palletDimensions` - Must be valid dimensions within limits (subject to change, these are configurable):\n  - Standard: max 60x52x94 inches (LxWxH) - pallets exceeding these are charged as oversized\n  - Oversized maximum: 95x95x96 inches - no pallet can exceed this\n  - With liftgate: max 62x62x94 inches\n\n*Component Totals:*\n- Sum of component `palletCount` must equal order `totalPalletCount`\n- Sum of component `poundsWeight` must equal order `totalPoundsWeight`\n",
                "operationId": "confirmShipment",
                "parameters": [
                    {
                        "name": "orderNumber",
                        "in": "path",
                        "description": "Order number (5-character alphanumeric code, commonly called PRO number)",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "ZKYQ5"
                    }
                ],
                "responses": {
                    "403": {
                        "description": "Forbidden: missing/invalid API key, or shipment does not belong to your company",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Shipment"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized: missing or invalid Bearer token (authentication failed)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Shipment"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Shipment"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Shipment confirmed successfully. Verify the response contains `orderStatus: CONFIRMED` to ensure confirmation succeeded.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Shipment"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Shipment not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Shipment"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request: orderNumber is required, order is not in INITIALIZED state, or is missing a quote",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Shipment"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/shipper/shipment/{orderNumber}/cancel": {
            "put": {
                "tags": [
                    "Shipper API"
                ],
                "summary": "Cancel a shipment by order number",
                "description": "Cancels an existing shipment using its order number (PRO number). Shipments can only be cancelled when they are in a cancellable state (e.g., before pickup).",
                "operationId": "cancelShipment",
                "parameters": [
                    {
                        "name": "orderNumber",
                        "in": "path",
                        "description": "Order number (5-character alphanumeric code, commonly called PRO number)",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "ZKYQ5"
                    }
                ],
                "responses": {
                    "403": {
                        "description": "Forbidden: missing/invalid API key, or shipment does not belong to your company",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Shipment"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request: orderNumber is required, or order cannot be cancelled in its current state",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Shipment"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Shipment cancelled successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Shipment"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized: missing or invalid Bearer token (authentication failed)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Shipment"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Shipment"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Shipment not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Shipment"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/shipper/shipment": {
            "post": {
                "tags": [
                    "Shipper API"
                ],
                "summary": "Create a new shipment",
                "description": "Creates a new shipment order. Optionally reference a previously generated quote. The shipment must be confirmed after creation.\n\n**Note:** The `companyId` is automatically extracted from your API key.\nYou do not need to provide this value in the request body.\n\nFor M2M (machine-to-machine) integrations, no user context is required.\n",
                "operationId": "createShipment",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateShipmentRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Shipment created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Shipment"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request: validation error, quote mismatch, or expired quote",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Shipment"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized: missing or invalid Bearer token (authentication failed)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Shipment"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden: missing/invalid API key, user not in company, or quote not owned by company",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Shipment"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Shipment"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/shipper/quote": {
            "post": {
                "tags": [
                    "Shipper API"
                ],
                "summary": "Request a shipping quote",
                "description": "Generates a price quote for a shipment based on origin, destination, and cargo details. The quote is valid for 2 days.\n\n**Note:** The `companyId` is automatically extracted from your API key.\nYou do not need to provide this value in the request body.\n\nFor M2M (machine-to-machine) integrations, no user context is required.\n",
                "operationId": "requestQuote",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/QuoteRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "400": {
                        "description": "Invalid request: validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/QuoteResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized: missing or invalid Bearer token (authentication failed)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/QuoteResponse"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Quote generated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/QuoteResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden: missing/invalid API key, or user does not belong to the authorized company",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/QuoteResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/QuoteResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/carrier/{carrierId}/trips": {
            "post": {
                "tags": [
                    "Carrier API"
                ],
                "summary": "Submit trip data",
                "description": "Submit trip data for carrier vehicles. Each trip must include vehicle ID, trip number, and legs with start/end coordinates and arrival windows.",
                "operationId": "addTrips",
                "parameters": [
                    {
                        "name": "carrierId",
                        "in": "path",
                        "description": "The unique identifier of the carrier",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/Trip"
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "400": {
                        "description": "Invalid request: missing required fields or invalid trip data",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "integer",
                                    "format": "int32"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized: missing or invalid bearer token",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "integer",
                                    "format": "int32"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden: API access is not enabled for this carrier",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "integer",
                                    "format": "int32"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "integer",
                                    "format": "int32"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Carrier not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "integer",
                                    "format": "int32"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Trips accepted and processed; returns count of trips added",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "integer",
                                    "format": "int32"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/carrier/{carrierId}/gps-data": {
            "post": {
                "tags": [
                    "Carrier API"
                ],
                "summary": "Submit GPS data",
                "description": "Submit GPS location data for carrier vehicles. Each data point must include vehicle ID, coordinates, timestamp, heading, and speed.",
                "operationId": "addGpsData",
                "parameters": [
                    {
                        "name": "carrierId",
                        "in": "path",
                        "description": "The unique identifier of the carrier",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/GpsData"
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "400": {
                        "description": "Invalid request: malformed JSON, missing fields, or invalid data",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "integer",
                                    "format": "int32"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized: missing or invalid bearer token",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "integer",
                                    "format": "int32"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden: API access is not enabled for this carrier",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "integer",
                                    "format": "int32"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "integer",
                                    "format": "int32"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Carrier not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "integer",
                                    "format": "int32"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "GPS data accepted and processed; returns count of data points added",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "integer",
                                    "format": "int32"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/auth/token": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Obtain access token",
                "description": "Exchange client credentials for an access token.\n\nThe returned token includes scopes that determine API access:\n- `shipper` scope grants access to `/v1/shipper/**` endpoints\n- `carrier` scope grants access to `/v1/carrier/**` endpoints\n- Partners with both scopes can access both APIs with a single token\n\nThe returned token should be included in subsequent API requests as a Bearer token\nin the authorization header: `authorization: Bearer {access_token}`\n\nTokens are valid for the duration specified in `expires_in` (seconds).\nWe recommend caching tokens and refreshing them before expiration.\n",
                "operationId": "getToken",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/TokenRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "401": {
                        "description": "Unauthorized: invalid credentials",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TokenErrorResponse"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Token successfully generated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TokenResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request: missing required fields",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TokenErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/shipper/shipment/{orderNumber}": {
            "get": {
                "tags": [
                    "Shipper API"
                ],
                "summary": "Get a shipment by order number",
                "description": "Retrieves a shipment by its order number (PRO number). The order number is a 5-character alphanumeric code (e.g., ZKYQ5) that uniquely identifies the shipment.",
                "operationId": "getShipment",
                "parameters": [
                    {
                        "name": "orderNumber",
                        "in": "path",
                        "description": "Order number (5-character alphanumeric code, commonly called PRO number)",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "ZKYQ5"
                    }
                ],
                "responses": {
                    "403": {
                        "description": "Forbidden: missing/invalid API key, or shipment does not belong to your company",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Shipment"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized: missing or invalid Bearer token (authentication failed)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Shipment"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Shipment retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Shipment"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request: orderNumber is required",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Shipment"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Shipment not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Shipment"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/shipper/shipment/{orderNumber}/tracking": {
            "get": {
                "tags": [
                    "Shipper API"
                ],
                "summary": "Track a shipment by order number",
                "description": "Retrieves tracking information for a shipment by its order number (PRO number). Returns status and estimated/actual pickup and delivery dates.",
                "operationId": "trackShipment",
                "parameters": [
                    {
                        "name": "orderNumber",
                        "in": "path",
                        "description": "Order number (5-character alphanumeric code, commonly called PRO number)",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "ZKYQ5"
                    }
                ],
                "responses": {
                    "403": {
                        "description": "Forbidden: missing/invalid API key, or shipment does not belong to your company",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tracking"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Tracking information retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tracking"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized: missing or invalid Bearer token (authentication failed)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tracking"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request: orderNumber is required",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tracking"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Shipment not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tracking"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/shipper/shipment/{orderNumber}/invoice": {
            "get": {
                "tags": [
                    "Shipper API"
                ],
                "summary": "Get itemized invoice for a delivered shipment",
                "description": "Retrieves the itemized invoice for a delivered shipment.\nThe invoice includes all charges (base freight, accessorials) and line items.\n\n**Note:** This endpoint is only available for shipments in DELIVERED state.\nInvoices are finalized when a shipment is delivered.\n",
                "operationId": "getInvoice",
                "parameters": [
                    {
                        "name": "orderNumber",
                        "in": "path",
                        "description": "Order number (5-character alphanumeric code, commonly called PRO number)",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "ZKYQ5"
                    }
                ],
                "responses": {
                    "403": {
                        "description": "Forbidden: missing/invalid API key, or shipment does not belong to your company",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InvoiceResponse"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Invoice retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InvoiceResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized: missing or invalid Bearer token (authentication failed)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InvoiceResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Shipment not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InvoiceResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request: orderNumber is required, or shipment is not in DELIVERED state",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InvoiceResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/shipper/shipment/{orderNumber}/document/{documentType}": {
            "get": {
                "tags": [
                    "Shipper API"
                ],
                "summary": "Get a shipment document by order number",
                "description": "Retrieves a download link for a shipment document using the order number (PRO number). Supported document types: BILL_OF_LADING, INVOICE, SHIPPING_LABEL.",
                "operationId": "getDocument",
                "parameters": [
                    {
                        "name": "orderNumber",
                        "in": "path",
                        "description": "Order number (5-character alphanumeric code, commonly called PRO number)",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "ZKYQ5"
                    },
                    {
                        "name": "documentType",
                        "in": "path",
                        "description": "Type of document to retrieve",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "BILL_OF_LADING",
                                "INVOICE",
                                "SHIPPING_LABEL"
                            ]
                        }
                    }
                ],
                "responses": {
                    "403": {
                        "description": "Forbidden: missing/invalid API key, or shipment does not belong to your company",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DocumentResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request: orderNumber and documentType are required",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DocumentResponse"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Document URL retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DocumentResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Shipment or document not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DocumentResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized: missing or invalid Bearer token (authentication failed)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DocumentResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DocumentResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/shipper/quote/{quoteId}": {
            "get": {
                "tags": [
                    "Shipper API"
                ],
                "summary": "Get a quote by ID",
                "description": "Retrieves an existing quote by its unique identifier. Quotes are valid for 2 days from creation.",
                "operationId": "getQuote",
                "parameters": [
                    {
                        "name": "quoteId",
                        "in": "path",
                        "description": "Unique quote ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "401": {
                        "description": "Unauthorized: missing or invalid Bearer token (authentication failed)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/QuoteResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden: missing, invalid, or expired API key (authorization failed)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/QuoteResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request: quote ID format is invalid",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/QuoteResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Quote not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/QuoteResponse"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Quote retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/QuoteResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/carrier/{carrierId}": {
            "get": {
                "tags": [
                    "Carrier API"
                ],
                "summary": "Get carrier API configuration",
                "description": "Retrieves the API configuration for a carrier including company name, API version, and available endpoints.",
                "operationId": "getCarrierApiConfig",
                "parameters": [
                    {
                        "name": "carrierId",
                        "in": "path",
                        "description": "The unique identifier of the carrier",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "401": {
                        "description": "Unauthorized: missing or invalid bearer token",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CarrierApiConfigResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden: API access is not enabled for this carrier",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CarrierApiConfigResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CarrierApiConfigResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Carrier not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CarrierApiConfigResponse"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "Configuration retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CarrierApiConfigResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/carrier/{carrierId}/jobs": {
            "get": {
                "tags": [
                    "Carrier API"
                ],
                "summary": "Get carrier jobs",
                "description": "Retrieves jobs (offers with order data) for a carrier. Filter by active status and time range.",
                "operationId": "getJobs",
                "parameters": [
                    {
                        "name": "carrierId",
                        "in": "path",
                        "description": "The unique identifier of the carrier",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "activeOnly",
                        "in": "query",
                        "description": "If true, only return currently active jobs",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "startTime",
                        "in": "query",
                        "description": "Filter jobs created after this time (ISO 8601 format)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "endTime",
                        "in": "query",
                        "description": "Filter jobs created before this time (ISO 8601 format)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Jobs retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/OfferWithOrderDataDTO"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized: missing or invalid bearer token",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/OfferWithOrderDataDTO"
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden: API access is not enabled for this carrier",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/OfferWithOrderDataDTO"
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/OfferWithOrderDataDTO"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Carrier not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/OfferWithOrderDataDTO"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "Shipment": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "Unique identifier for the order",
                        "example": "67b6c5fcfbf1be6b24127646"
                    },
                    "companyId": {
                        "type": "string",
                        "description": "Company ID that owns this order",
                        "example": "67c0dfa95bff090747660465"
                    },
                    "userId": {
                        "type": "string",
                        "description": "User ID who created this order",
                        "example": "679410f5b074882a64b9ea7f"
                    },
                    "orderNumber": {
                        "type": "string",
                        "description": "Human-readable PRO number for the shipment (5-character alphanumeric)",
                        "example": "ZKYQ5"
                    },
                    "orderStatus": {
                        "type": "string",
                        "description": "Current status of the order",
                        "example": "CONFIRMED",
                        "enum": [
                            "INITIALIZED",
                            "CONFIRMED",
                            "ACCEPTED",
                            "ASSIGNED",
                            "PICKED_UP",
                            "IN_TRANSIT",
                            "DELIVERED",
                            "CANCELLED"
                        ]
                    },
                    "totalPriceInCents": {
                        "type": "integer",
                        "description": "Total price of the order in cents (USD)",
                        "format": "int32",
                        "example": 125000
                    },
                    "createdAt": {
                        "type": "string",
                        "description": "Time when the order was created (ISO 8601 format)",
                        "format": "date-time",
                        "example": "2025-02-20T17:31:10.43Z"
                    },
                    "updatedAt": {
                        "type": "string",
                        "description": "Time when the order was last updated (ISO 8601 format)",
                        "format": "date-time",
                        "example": "2025-02-27T22:51:49.865Z"
                    }
                },
                "description": "Shipment/Order details"
            },
            "Address": {
                "required": [
                    "address1",
                    "city",
                    "contactPerson",
                    "name",
                    "phoneNumber",
                    "state",
                    "zipCode"
                ],
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string",
                        "description": "Name of the location or business",
                        "example": "Fairgrounds Distribution Center"
                    },
                    "address1": {
                        "type": "string",
                        "description": "Primary street address",
                        "example": "1531 Junipero Avenue"
                    },
                    "address2": {
                        "type": "string",
                        "description": "Secondary address line (suite, unit, etc.)",
                        "example": "Dock 5"
                    },
                    "city": {
                        "type": "string",
                        "description": "City name",
                        "example": "Long Beach"
                    },
                    "state": {
                        "pattern": "[A-Z]{2}",
                        "type": "string",
                        "description": "Two-letter state abbreviation",
                        "example": "CA"
                    },
                    "zipCode": {
                        "pattern": "\\d{5}",
                        "type": "string",
                        "description": "5-digit ZIP code",
                        "example": "90804"
                    },
                    "phoneNumber": {
                        "pattern": "^\\+[1-9]\\d{1,14}$",
                        "type": "string",
                        "description": "Contact phone number in E.164 format",
                        "example": "+18087857650"
                    },
                    "contactPerson": {
                        "type": "string",
                        "description": "Name of the contact person at this location",
                        "example": "Mike Johnson"
                    },
                    "openTime": {
                        "pattern": "^([01]?[0-9]|2[0-3]):[0-5][0-9]$",
                        "type": "string",
                        "description": "Opening time for the location in 24-hour format (HH:mm). Defaults to 10:00 if not provided.",
                        "example": "10:00"
                    },
                    "closeTime": {
                        "pattern": "^([01]?[0-9]|2[0-3]):[0-5][0-9]$",
                        "type": "string",
                        "description": "Closing time for the location in 24-hour format (HH:mm). Defaults to 16:00 if not provided.",
                        "example": "16:00"
                    },
                    "notes": {
                        "type": "string",
                        "description": "Additional notes or instructions for the driver",
                        "example": "Dock 3, enter from back of building"
                    },
                    "liftgateRequired": {
                        "type": "boolean",
                        "description": "Whether a liftgate is required at this location",
                        "example": false
                    },
                    "limitedAccess": {
                        "type": "boolean",
                        "description": "Whether this is a limited access location (residential, construction site, etc.)",
                        "example": false
                    },
                    "appointmentRequired": {
                        "type": "boolean",
                        "description": "Whether an appointment is required for pickup/delivery",
                        "example": true
                    }
                },
                "description": "Address information for pickup or delivery locations"
            },
            "CreateShipmentRequest": {
                "required": [
                    "deliveryAddress",
                    "description",
                    "orderComponents",
                    "pickupAddress"
                ],
                "type": "object",
                "properties": {
                    "quoteId": {
                        "type": "string",
                        "description": "Optional ID of a previously generated quote.",
                        "example": "507f1f77bcf86cd799439013"
                    },
                    "pickupAddress": {
                        "$ref": "#/components/schemas/Address"
                    },
                    "deliveryAddress": {
                        "$ref": "#/components/schemas/Address"
                    },
                    "orderComponents": {
                        "type": "array",
                        "description": "List of cargo components in the shipment",
                        "items": {
                            "$ref": "#/components/schemas/OrderComponent"
                        }
                    },
                    "description": {
                        "type": "string",
                        "description": "Description of the shipment contents",
                        "example": "Electronics - fragile"
                    },
                    "poNumber": {
                        "type": "string",
                        "description": "Purchase order number for reference",
                        "example": "PO-2024-12345"
                    },
                    "refNumber": {
                        "type": "string",
                        "description": "Additional reference number",
                        "example": "REF-ABC-123"
                    },
                    "requiredPickupDate": {
                        "type": "string",
                        "description": "Required pickup date (ISO 8601 format)",
                        "format": "date-time",
                        "example": "2024-12-24T08:00:00Z"
                    },
                    "requiredDeliveryBy": {
                        "type": "string",
                        "description": "Required delivery by date (ISO 8601 format)",
                        "format": "date-time",
                        "example": "2024-12-26T17:00:00Z"
                    }
                },
                "description": "Request to create a new shipment"
            },
            "OrderComponent": {
                "required": [
                    "palletCount",
                    "palletDimensions",
                    "poundsWeight"
                ],
                "type": "object",
                "properties": {
                    "palletCount": {
                        "type": "integer",
                        "description": "Number of pallets in this component",
                        "format": "int32",
                        "example": 2
                    },
                    "poundsWeight": {
                        "type": "integer",
                        "description": "Weight per pallet in pounds",
                        "format": "int32",
                        "example": 500
                    },
                    "palletDimensions": {
                        "type": "array",
                        "description": "Pallet dimensions as [height, length, width] in inches",
                        "example": [
                            48,
                            40,
                            48
                        ],
                        "items": {
                            "type": "integer",
                            "description": "Pallet dimensions as [height, length, width] in inches",
                            "format": "int32"
                        }
                    }
                },
                "description": "A cargo component (pallet group) in a shipment"
            },
            "QuoteRequest": {
                "required": [
                    "deliveryAddress",
                    "orderComponents",
                    "pickupAddress"
                ],
                "type": "object",
                "properties": {
                    "pickupAddress": {
                        "$ref": "#/components/schemas/Address"
                    },
                    "deliveryAddress": {
                        "$ref": "#/components/schemas/Address"
                    },
                    "orderComponents": {
                        "type": "array",
                        "description": "List of pallets or freight pieces.",
                        "items": {
                            "$ref": "#/components/schemas/OrderComponent"
                        }
                    }
                },
                "description": "Request to generate a shipping quote. Quotes are valid for 2 days from creation."
            },
            "QuoteResponse": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "Unique quote identifier",
                        "example": "507f1f77bcf86cd799439013"
                    },
                    "quotedPriceInCents": {
                        "type": "integer",
                        "description": "Total quoted price in cents (USD)",
                        "format": "int32",
                        "example": 125000
                    },
                    "quoteExpirationTime": {
                        "type": "string",
                        "description": "When this quote expires (ISO 8601 format). Quotes are valid for 2 days.",
                        "format": "date-time",
                        "example": "2024-12-20T15:30:00Z"
                    }
                },
                "description": "Response containing a shipping quote"
            },
            "Trip": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "carrierId": {
                        "type": "string"
                    },
                    "vehicleId": {
                        "type": "string"
                    },
                    "tripNo": {
                        "type": "string"
                    },
                    "legs": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/TripLeg"
                        }
                    },
                    "createdAt": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updatedAt": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "TripLeg": {
                "type": "object",
                "properties": {
                    "startLat": {
                        "type": "number",
                        "format": "double"
                    },
                    "startLong": {
                        "type": "number",
                        "format": "double"
                    },
                    "startTime": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "endLat": {
                        "type": "number",
                        "format": "double"
                    },
                    "endLong": {
                        "type": "number",
                        "format": "double"
                    },
                    "arrivalWindowStart": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "arrivalWindowEnd": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "availableForOffers": {
                        "type": "boolean"
                    },
                    "estDriveTimeMinutes": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "stopNumber": {
                        "type": "integer",
                        "format": "int32"
                    }
                }
            },
            "GpsData": {
                "required": [
                    "heading",
                    "latitude",
                    "longitude",
                    "speed",
                    "timestamp",
                    "vehicleId"
                ],
                "type": "object",
                "properties": {
                    "vehicleId": {
                        "type": "string",
                        "description": "Unique identifier for the vehicle",
                        "example": "TRUCK-001"
                    },
                    "timestamp": {
                        "type": "string",
                        "description": "Timestamp of the GPS reading (ISO 8601 format). Must not be in the future.",
                        "format": "date-time",
                        "example": "2025-02-20T17:33:15Z"
                    },
                    "latitude": {
                        "maximum": 90,
                        "minimum": -90,
                        "type": "number",
                        "description": "Latitude coordinate",
                        "format": "double",
                        "example": 33.787363
                    },
                    "longitude": {
                        "maximum": 180,
                        "minimum": -180,
                        "type": "number",
                        "description": "Longitude coordinate",
                        "format": "double",
                        "example": -118.163715
                    },
                    "heading": {
                        "maximum": 359,
                        "minimum": 0,
                        "type": "integer",
                        "description": "Heading in degrees (0-359, where 0 is North)",
                        "format": "int32",
                        "example": 270
                    },
                    "speed": {
                        "minimum": 0,
                        "type": "integer",
                        "description": "Speed in km/h",
                        "format": "int32",
                        "example": 65
                    }
                },
                "description": "GPS location data point for a vehicle"
            },
            "TokenRequest": {
                "required": [
                    "clientId",
                    "clientSecret"
                ],
                "type": "object",
                "properties": {
                    "clientId": {
                        "type": "string",
                        "description": "Client ID provided by Oway",
                        "example": "abc123def456"
                    },
                    "clientSecret": {
                        "type": "string",
                        "description": "Client secret provided by Oway",
                        "example": "secret_xyz789"
                    }
                },
                "description": "Token request containing client credentials"
            },
            "TokenErrorResponse": {
                "type": "object",
                "properties": {
                    "error": {
                        "type": "string",
                        "description": "Error code",
                        "example": "invalid_client"
                    },
                    "errorDescription": {
                        "type": "string",
                        "description": "Human-readable error description",
                        "example": "Invalid client credentials"
                    }
                },
                "description": "Error response for token requests"
            },
            "TokenResponse": {
                "type": "object",
                "properties": {
                    "accessToken": {
                        "type": "string",
                        "description": "The access token to use for API requests",
                        "example": "eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9..."
                    },
                    "tokenType": {
                        "type": "string",
                        "description": "Token type (always 'Bearer')",
                        "example": "Bearer"
                    },
                    "expiresIn": {
                        "type": "integer",
                        "description": "Token validity in seconds",
                        "format": "int32",
                        "example": 86400
                    }
                },
                "description": "Successful token response"
            },
            "Tracking": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "Unique identifier for the order",
                        "example": "507f1f77bcf86cd799439011"
                    },
                    "orderNumber": {
                        "type": "string",
                        "description": "Human-readable PRO number for the shipment (5-character alphanumeric)",
                        "example": "ZKYQ5"
                    },
                    "orderStatus": {
                        "type": "string",
                        "description": "Current status of the order",
                        "example": "PICKED_UP",
                        "enum": [
                            "INITIALIZED",
                            "CONFIRMED",
                            "ACCEPTED",
                            "ASSIGNED",
                            "PICKED_UP",
                            "IN_TRANSIT",
                            "DELIVERED",
                            "CANCELLED"
                        ]
                    },
                    "actualPickupDate": {
                        "type": "string",
                        "description": "Actual pickup date/time (ISO 8601 format)",
                        "format": "date-time",
                        "example": "2024-12-23T10:30:00Z"
                    },
                    "actualDeliveryDate": {
                        "type": "string",
                        "description": "Actual delivery date/time (ISO 8601 format)",
                        "format": "date-time",
                        "example": "2024-12-25T14:00:00Z"
                    },
                    "estimatedPickupDate": {
                        "type": "string",
                        "description": "Estimated pickup date/time (ISO 8601 format)",
                        "format": "date-time",
                        "example": "2024-12-23T09:00:00Z"
                    },
                    "estimatedDeliveryDate": {
                        "type": "string",
                        "description": "Estimated delivery date/time (ISO 8601 format)",
                        "format": "date-time",
                        "example": "2024-12-25T12:00:00Z"
                    }
                },
                "description": "Shipment tracking information"
            },
            "InvoiceCharge": {
                "type": "object",
                "properties": {
                    "chargeType": {
                        "type": "string",
                        "description": "Type of charge",
                        "example": "BASE_FREIGHT"
                    },
                    "description": {
                        "type": "string",
                        "description": "Human-readable description of the charge",
                        "example": "Base Freight"
                    },
                    "amountInCents": {
                        "type": "integer",
                        "description": "Amount in cents (USD)",
                        "format": "int32",
                        "example": 100000
                    }
                },
                "description": "A charge on an invoice"
            },
            "InvoiceLineItem": {
                "type": "object",
                "properties": {
                    "description": {
                        "type": "string",
                        "description": "Description of the item",
                        "example": "General Freight"
                    },
                    "freightClass": {
                        "type": "string",
                        "description": "Freight class",
                        "example": "85"
                    },
                    "weight": {
                        "type": "integer",
                        "description": "Weight in pounds",
                        "format": "int32",
                        "example": 500
                    },
                    "quantity": {
                        "type": "integer",
                        "description": "Number of pieces/pallets",
                        "format": "int32",
                        "example": 2
                    },
                    "packageType": {
                        "type": "string",
                        "description": "Package type",
                        "example": "PLT"
                    }
                },
                "description": "A line item on an invoice"
            },
            "InvoiceResponse": {
                "type": "object",
                "properties": {
                    "orderId": {
                        "type": "string",
                        "description": "Order ID",
                        "example": "67b6c5fcfbf1be6b24127646"
                    },
                    "orderNumber": {
                        "type": "string",
                        "description": "Human-readable order number (PRO number)",
                        "example": "ZKYQ5"
                    },
                    "invoiceDate": {
                        "type": "string",
                        "description": "Invoice date (typically same as delivery date)",
                        "format": "date-time",
                        "example": "2024-12-20T15:30:00Z"
                    },
                    "shipDate": {
                        "type": "string",
                        "description": "Ship date (when the shipment was picked up)",
                        "format": "date-time",
                        "example": "2024-12-18T09:00:00Z"
                    },
                    "deliveryDate": {
                        "type": "string",
                        "description": "Delivery date (when the shipment was delivered)",
                        "format": "date-time",
                        "example": "2024-12-20T15:30:00Z"
                    },
                    "poNumber": {
                        "type": "string",
                        "description": "Purchase order number (if provided)",
                        "example": "PO-12345"
                    },
                    "refNumber": {
                        "type": "string",
                        "description": "Reference number (BOL number)",
                        "example": "BOL-67890"
                    },
                    "lineItems": {
                        "type": "array",
                        "description": "Line items representing the shipped goods",
                        "items": {
                            "$ref": "#/components/schemas/InvoiceLineItem"
                        }
                    },
                    "charges": {
                        "type": "array",
                        "description": "Itemized charges and fees",
                        "items": {
                            "$ref": "#/components/schemas/InvoiceCharge"
                        }
                    },
                    "totalChargesInCents": {
                        "type": "integer",
                        "description": "Total of all charges in cents (USD)",
                        "format": "int32",
                        "example": 125000
                    },
                    "totalWeight": {
                        "type": "integer",
                        "description": "Total weight of the shipment in pounds",
                        "format": "int32",
                        "example": 1500
                    },
                    "totalPieces": {
                        "type": "integer",
                        "description": "Total number of pieces/pallets",
                        "format": "int32",
                        "example": 4
                    },
                    "shipper": {
                        "$ref": "#/components/schemas/Address"
                    },
                    "consignee": {
                        "$ref": "#/components/schemas/Address"
                    },
                    "billTo": {
                        "$ref": "#/components/schemas/Address"
                    }
                },
                "description": "Itemized invoice for a delivered shipment"
            },
            "DocumentResponse": {
                "type": "object",
                "properties": {
                    "filename": {
                        "type": "string",
                        "description": "Name of the document file",
                        "example": "bol-ZKYQ5.pdf"
                    },
                    "fileType": {
                        "type": "string",
                        "description": "MIME type of the document",
                        "example": "application/pdf"
                    },
                    "downloadLink": {
                        "type": "string",
                        "description": "Pre-signed download URL (valid for limited time)",
                        "example": "https://s3.amazonaws.com/..."
                    }
                },
                "description": "Response containing a document download link"
            },
            "CarrierApiConfigResponse": {
                "type": "object",
                "properties": {
                    "companyName": {
                        "type": "string",
                        "description": "Name of the carrier company",
                        "example": "ABC Logistics"
                    },
                    "apiEnabled": {
                        "type": "boolean",
                        "description": "Whether the API is enabled for this carrier",
                        "example": true
                    },
                    "apiVersion": {
                        "type": "string",
                        "description": "Current API version",
                        "example": "v0.2.1"
                    },
                    "availableEndpoints": {
                        "type": "array",
                        "description": "List of available API endpoints for this carrier",
                        "items": {
                            "type": "string",
                            "description": "List of available API endpoints for this carrier"
                        }
                    }
                },
                "description": "Carrier API configuration response"
            },
            "AddressAccessorialSnapshot": {
                "type": "object",
                "properties": {
                    "liftgateRequired": {
                        "type": "boolean"
                    },
                    "limitedAccess": {
                        "type": "boolean"
                    },
                    "residential": {
                        "type": "boolean"
                    },
                    "appointmentRequired": {
                        "type": "boolean"
                    },
                    "callAheadRequired": {
                        "type": "string",
                        "enum": [
                            "HALF_HOUR",
                            "ONE_HOUR",
                            "TWO_HOURS",
                            "START_OF_DAY",
                            "DAY_BEFORE"
                        ]
                    },
                    "createdAt": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updatedAt": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "values": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "boolean"
                        }
                    }
                }
            },
            "AppliedPricingRule": {
                "type": "object",
                "properties": {
                    "ruleId": {
                        "type": "string"
                    },
                    "type": {
                        "type": "string",
                        "enum": [
                            "add_on_margin",
                            "max_margin_cap"
                        ]
                    },
                    "ruleValue": {
                        "type": "number",
                        "format": "double"
                    },
                    "adjustmentInCents": {
                        "type": "integer",
                        "format": "int32"
                    }
                }
            },
            "ComponentDetails": {
                "type": "object",
                "properties": {
                    "palletCount": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "poundsWeight": {
                        "type": "number",
                        "format": "float"
                    },
                    "palletDimensions": {
                        "type": "array",
                        "items": {
                            "type": "number"
                        }
                    },
                    "freightClass": {
                        "type": "string"
                    }
                }
            },
            "OfferWithOrderDataDTO": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "driverId": {
                        "type": "string"
                    },
                    "carrierId": {
                        "type": "string"
                    },
                    "deadline": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "orderId": {
                        "type": "string"
                    },
                    "state": {
                        "type": "string"
                    },
                    "decidedAt": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "centsPayOut": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "routeId": {
                        "type": "string"
                    },
                    "routeScore": {
                        "type": "number",
                        "format": "double"
                    },
                    "matchingMethod": {
                        "type": "string",
                        "enum": [
                            "MANUAL",
                            "REGION",
                            "LANE",
                            "TERMINAL",
                            "TRIP"
                        ]
                    },
                    "pickupPin": {
                        "type": "string"
                    },
                    "deliveryPin": {
                        "type": "string"
                    },
                    "contacted": {
                        "type": "boolean"
                    },
                    "communicationExpired": {
                        "type": "boolean"
                    },
                    "emailThreadId": {
                        "type": "string"
                    },
                    "manualCentsPayoutOverride": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "additionalPayoutsInCents": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    "totalPayoutInCents": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "realTimeVehicleLocationSnapshots": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/VehicleLocationSnapshot"
                        }
                    },
                    "tripFragmentMatches": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/TripFragmentMatch"
                        }
                    },
                    "createdAt": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updatedAt": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "orderData": {
                        "$ref": "#/components/schemas/Order"
                    },
                    "pickupAddressData": {
                        "$ref": "#/components/schemas/Address"
                    },
                    "dropoffAddressData": {
                        "$ref": "#/components/schemas/Address"
                    },
                    "orderAccessorials": {
                        "$ref": "#/components/schemas/OrderAccessorials"
                    }
                }
            },
            "Order": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "customerId": {
                        "type": "string"
                    },
                    "companyId": {
                        "type": "string"
                    },
                    "additionalCustomerIds": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "orderNumber": {
                        "type": "string"
                    },
                    "pickupAddressId": {
                        "type": "string"
                    },
                    "deliveryAddressId": {
                        "type": "string"
                    },
                    "logisticsId": {
                        "type": "string"
                    },
                    "totalPalletCount": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "totalPoundsWeight": {
                        "type": "number",
                        "format": "float"
                    },
                    "description": {
                        "type": "string"
                    },
                    "ltlCode": {
                        "type": "string"
                    },
                    "quote": {
                        "$ref": "#/components/schemas/Quote"
                    },
                    "billingAddressId": {
                        "type": "string"
                    },
                    "paid": {
                        "type": "boolean"
                    },
                    "amountDue": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "paidAt": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "paidBy": {
                        "type": "string"
                    },
                    "paymentMethod": {
                        "type": "string"
                    },
                    "paymentNotes": {
                        "type": "string"
                    },
                    "confirmed": {
                        "type": "boolean"
                    },
                    "state": {
                        "type": "string"
                    },
                    "cancellationReason": {
                        "type": "string",
                        "enum": [
                            "unspecified",
                            "customer_cancellation",
                            "shipment_entry_error",
                            "low_coverage",
                            "unacceptable_margin",
                            "expired",
                            "carrier_exception",
                            "shipper_exception"
                        ]
                    },
                    "orderComponents": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ComponentDetails"
                        }
                    },
                    "poNumber": {
                        "type": "string"
                    },
                    "refNumber": {
                        "type": "string"
                    },
                    "emailThreadId": {
                        "type": "string"
                    },
                    "decidedAt": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "paymentDueAt": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "createdAt": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updatedAt": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "searchMatches": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/SearchMatch"
                        }
                    },
                    "avgPoundsPerCubicFoot": {
                        "type": "number",
                        "format": "double"
                    },
                    "totalCubicFeet": {
                        "type": "number",
                        "format": "double"
                    },
                    "orderPreConfirmation": {
                        "type": "boolean"
                    },
                    "totalPriceInCents": {
[...]
