{
  "openapi": "3.0.3",
  "info": {
    "title": "Oway API",
    "description": "Oway APIs for shippers and carriers.\n\n## Authentication & Authorization\n\nOur APIs use a two-layer security model:\n\n### Layer 1: Authentication (Bearer Token)\n\n**Proves who you are.** All requests require a valid JWT Bearer token.\n\n| Scope | Access |\n|-------|--------|\n| `shipper` | Access to `/v1/shipper/**` endpoints |\n| `carrier` | Access to `/v1/carrier/**` endpoints |\n| `dev` | Sandbox environment access |\n| `prod` | Production environment access |\n\n**Request a Token:**\n```\nPOST /v1/auth/token\n{\n  \"clientId\": \"YOUR_CLIENT_ID\",\n  \"clientSecret\": \"YOUR_CLIENT_SECRET\"\n}\n```\n\n**Include in all requests:**\n```\nauthorization: Bearer {accessToken}\n```\n\nTokens are valid for 24 hours.\n\n### Layer 2: Authorization (API Key)\n\n**Proves which company you're accessing.** External API requests require an API key.\nEach key is tied to a single company in Oway.\n\n**Key Formats:**\n- Shipper: `oway_sk_xxx...`\n- Carrier: `oway_ck_xxx...`\n\n**Include in all external API requests:**\n```\nx-oway-api-key: oway_sk_abc123def456...  # for Shipper API\nx-oway-api-key: oway_ck_abc123def456...  # for Carrier API\n```\n\nAPI keys are:\n- **Self-service**: Generate and manage keys in your Oway portal\n- **Per-company**: Each key grants access to one company's resources\n- **Revocable**: Delete keys at any time to revoke access\n- **Auditable**: Track which key is used for each request\n\n## API Key Details\n\nEach API key is **tied to a single company** in Oway. The key determines which company's\nresources you can access:\n\n- Use a **shipper key** (`oway_sk_...`) for Shipper API endpoints\n- Use a **carrier key** (`oway_ck_...`) for Carrier API endpoints\n\n**Key Management:**\n- Generate keys in your Oway portal (Settings → API Keys)\n- Each key is tied to your company - you cannot access other companies' data\n- Revoke keys at any time to disable access\n- Keys are shown only once at creation - store them securely\n\n## Response Codes\n\n| Code | Description |\n|------|-------------|\n| 200 | Success |\n| 400 | Bad Request - validation error |\n| 401 | Unauthorized - invalid or missing authentication |\n| 403 | Forbidden - missing required scope or resource access denied |\n| 404 | Not Found |\n| 429 | Rate limit exceeded |\n| 500 | Internal server error |\n",
    "contact": {
      "name": "Oway Support",
      "email": "support@oway.io"
    },
    "version": "1.0.0"
  },
  "externalDocs": {
    "description": "Oway API Developer Portal",
    "url": "https://oway.readme.io"
  },
  "servers": [
    {
      "url": "https://api.oway.io",
      "description": "Production"
    },
    {
      "url": "https://api.sandbox.oway.io",
      "description": "Sandbox Environment"
    }
  ],
  "tags": [
    {
      "name": "Carrier API",
      "description": "Carrier integration endpoints for managing offers, shipments, bundles, documents, and coverage data.\n\n**Authentication & Authorization Required:**\n\nAll endpoints require BOTH credentials:\n1. **Bearer Token** (`authorization: Bearer {token}`) - Proves identity, requires `carrier` scope\n2. **API Key** (`x-oway-api-key: oway_ck_...`) - Determines which carrier's resources you can access\n\nThe API key is tied to your carrier company and automatically scopes all operations to that company's data.\n"
    },
    {
      "name": "Shipper API",
      "description": "Shipper integration endpoints for quotes and shipments.\n\n**Authentication & Authorization Required:**\n\nAll endpoints require BOTH credentials:\n1. **Bearer Token** (`authorization: Bearer {token}`) - Proves identity, requires `shipper` scope\n2. **API Key** (`x-oway-api-key: oway_sk_...`) - Determines which company's resources you can access\n\nThe API key is tied to your shipper company and automatically scopes all operations to that company's data.\nSee the Authentication section above for details on obtaining credentials.\n"
    },
    {
      "name": "Shipper API",
      "description": "Appointment metadata endpoints. Capture structured appointment data per stop on appointment-required shipments.\n\nAuthentication & Authorization: same Bearer + API key requirements as the rest of the Shipper API."
    },
    {
      "name": "Shipper API",
      "description": "Upload supporting documents (packing slip, customer BOL) for an appointment."
    },
    {
      "name": "Authentication",
      "description": "API authentication endpoints for obtaining access tokens"
    }
  ],
  "paths": {
    "/v1/shipper/shipment/{orderNumber}/confirm": {
      "put": {
        "tags": [
          "Shipper API"
        ],
        "summary": "Confirm a shipment by order number",
        "description": "Confirms an existing shipment using its order number (PRO number).\nMoves the shipment from INITIALIZED to CONFIRMED state.\n\n**Prerequisites:**\n- The order must be in INITIALIZED state\n- The order must have an associated quote\n\n**Validation Requirements:**\n\nThe following fields are validated during confirmation. If any are missing or invalid,\nthe shipment will remain in INITIALIZED state.\n\n*Address Fields (required on BOTH pickup and delivery addresses):*\n- `name` - Location/company name\n- `address1` - Street address\n- `zipCode` - ZIP code\n- `contactPerson` - Contact name\n- `phoneNumber` - Contact phone (E.164 format, e.g., \"+15551234567\")\n- `openTime` - Opening time in HH:mm format (defaults to \"10:00\")\n- `closeTime` - Closing time in HH:mm format (defaults to \"16:00\")\n\n*Order Fields:*\n- `description` - Must not be empty\n- `totalPalletCount` - Must be between 1 and 51\n- `totalPoundsWeight` - Must be between 1 and 2,500 lbs per pallet\n\n*Order Component Fields (per component):*\n- `palletCount` - Must be at least 1\n- `poundsWeight` - Must be between 1 and 2,500 lbs per pallet\n- `palletDimensions` - Must be valid dimensions within limits (subject to change, these are configurable):\n  - Standard: max 60x52x94 inches (LxWxH) - pallets exceeding these are charged as oversized\n  - Oversized maximum: 95x95x96 inches - no pallet can exceed this\n  - With liftgate: max 62x62x94 inches\n\n*Component Totals:*\n- Sum of component `palletCount` must equal order `totalPalletCount`\n- Sum of component `poundsWeight` must equal order `totalPoundsWeight`\n",
        "operationId": "confirmShipment",
        "parameters": [
          {
            "name": "orderNumber",
            "in": "path",
            "description": "Order number (5-character alphanumeric code, commonly called PRO number)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "ZKYQ5"
          }
        ],
        "responses": {
          "200": {
            "description": "Shipment confirmed successfully. Verify the response contains `orderStatus: CONFIRMED` to ensure confirmation succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Shipment"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request: orderNumber is required, order is not in INITIALIZED state, or is missing a quote",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: missing or invalid Bearer token (authentication failed)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden: missing/invalid API key, or shipment does not belong to your company",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "Shipment not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        }
      }
    },
    "/v1/shipper/shipment/{orderNumber}/cancel": {
      "put": {
        "tags": [
          "Shipper API"
        ],
        "summary": "Cancel a shipment by order number",
        "description": "Cancels an existing shipment using its order number (PRO number). Shipments can only be cancelled when they are in a cancellable state (e.g., before pickup).",
        "operationId": "cancelShipment",
        "parameters": [
          {
            "name": "orderNumber",
            "in": "path",
            "description": "Order number (5-character alphanumeric code, commonly called PRO number)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "ZKYQ5"
          }
        ],
        "responses": {
          "200": {
            "description": "Shipment cancelled successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Shipment"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request: orderNumber is required, or order cannot be cancelled in its current state",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: missing or invalid Bearer token (authentication failed)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden: missing/invalid API key, or shipment does not belong to your company",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "Shipment not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        }
      }
    },
    "/v1/shipper/shipment/{orderNumber}/appointment/{stop}": {
      "get": {
        "tags": [
          "Shipper API"
        ],
        "summary": "Read merged appointment requirement for a stop",
        "description": "Returns the effective AppointmentRequirement for one stop, computed as the merge of the place-level default and the order-level override using a \"more-strict wins\" rule. The `_merged` diagnostic block in the response shows per-field provenance (PLACE | ORDER | PLACE_AND_ORDER | NONE).",
        "operationId": "getAppointment",
        "parameters": [
          {
            "name": "orderNumber",
            "in": "path",
            "description": "Order number (PRO)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "ZKYQ5"
          },
          {
            "name": "stop",
            "in": "path",
            "description": "pickup | delivery",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "PICKUP",
                "DELIVERY"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Merged appointment requirement. Fields are null when neither place nor order has data for that field; `_merged` is always present and shows source of each field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppointmentRequirementResponse"
                }
              }
            }
          },
          "404": {
            "description": "Order does not exist or does not belong to your company.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Shipper API"
        ],
        "summary": "Upsert appointment requirement for a stop",
        "description": "Idempotent upsert of the order-level AppointmentRequirement for one stop (pickup or delivery). The full provided requirement replaces any prior value. Returns the merged effective requirement (place-level default + this order-level override) with a per-field provenance diagnostic.\n\nMutability: writes are accepted until the order reaches ACCEPTED. Writes against ACCEPTED+ orders return 409 order_accepted_appointment_locked.",
        "operationId": "upsertAppointment",
        "parameters": [
          {
            "name": "orderNumber",
            "in": "path",
            "description": "Order number (PRO)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "ZKYQ5"
          },
          {
            "name": "stop",
            "in": "path",
            "description": "pickup | delivery",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "PICKUP",
                "DELIVERY"
              ]
            }
          },
          {
            "name": "confirmChangeAfterAcceptance",
            "in": "query",
            "description": "Set to true to override the post-acceptance mutability lock. Required together with the X-Oway-Change-Reason header.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "X-Oway-Change-Reason",
            "in": "header",
            "description": "Required when confirmChangeAfterAcceptance=true. Surfaces verbatim in the carrier-change notification email.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppointmentRequirementRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Appointment requirement upserted; body is the merged effective requirement.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppointmentRequirementResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation failure. Response body's `violations[]` lists field paths and reasons.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "Order does not exist or does not belong to your company.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "409": {
            "description": "Order has reached ACCEPTED; appointment data is locked. Contact help@oway.io for changes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        }
      }
    },
    "/v1/carrier/shipments/{identifier}/pickup": {
      "put": {
        "tags": [
          "Carrier API"
        ],
        "summary": "Confirm shipment pickup",
        "description": "Confirm that the shipment has been picked up. Transitions the order to IN_TRANSIT status.\n\n**Required fields:** `pickupTime` is required. All other fields (location, coordinates, signedBy, notes) are optional but recommended.\n\n**State requirement:** The shipment must be in ACCEPTED status.",
        "operationId": "confirmPickup",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "description": "Shipment identifier (offerId, orderNumber, or carrierReference)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Y73Q0"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PickupConfirmationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Pickup confirmed, order status updated to PICKED_UP",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CarrierShipment"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request: pickupTime is required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: missing or invalid bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden: missing/invalid API key or API access not enabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "Shipment not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "409": {
            "description": "Shipment not in valid state for pickup confirmation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        }
      }
    },
    "/v1/carrier/shipments/{identifier}/deliver": {
      "put": {
        "tags": [
          "Carrier API"
        ],
        "summary": "Confirm shipment delivery",
        "description": "Confirm that the shipment has been delivered. Transitions the order to DELIVERED status and initiates carrier payout.\n\n**Required fields:** `deliveryTime` is required. Proof of delivery fields (`signedBy`, `signatureImageUrl`, `proofOfDeliveryUrl`) are optional but recommended.\n\n**State requirement:** The shipment must be in ACCEPTED or PICKED_UP status.",
        "operationId": "confirmDelivery",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "description": "Shipment identifier (offerId, orderNumber, or carrierReference)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Y73Q0"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeliveryConfirmationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Delivery confirmed, order status updated to DELIVERED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CarrierShipment"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request: deliveryTime is required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: missing or invalid bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden: missing/invalid API key or API access not enabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "Shipment not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "409": {
            "description": "Shipment not in valid state for delivery confirmation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        }
      }
    },
    "/v1/carrier/offers/{identifier}/reject": {
      "put": {
        "tags": [
          "Carrier API"
        ],
        "summary": "Reject an offer",
        "description": "Reject a pending offer with a reason.\n\n**Required fields:** `reason` (enum) is required. `reasonText` is optional but recommended for context.\n\n**Reason values:** `capacity_unavailable`, `outside_service_area`, `rate_not_acceptable`, `timeline_not_feasible`, `other`\n\n**State requirement:** The offer must be in PENDING status.",
        "operationId": "rejectOffer",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "description": "Offer identifier (offerId, orderNumber, or carrierReference)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Y73Q0"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RejectOfferRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Offer rejected successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Offer"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request: reason is required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: missing or invalid bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden: missing/invalid API key or API access not enabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "Offer not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "409": {
            "description": "Offer not in valid state for rejection",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        }
      }
    },
    "/v1/carrier/offers/{identifier}/accept": {
      "put": {
        "tags": [
          "Carrier API"
        ],
        "summary": "Accept an offer",
        "description": "Accept a pending offer. Once accepted, the offer becomes a shipment and is accessible via `/shipments` endpoints.\n\n**Optional fields:** All request body fields are optional. You can provide driver details and a carrier reference number now, or update them later.\n\n**State requirement:** The offer must be in PENDING status. Returns 409 if the offer has already been accepted, rejected, or expired.",
        "operationId": "acceptOffer",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "description": "Offer identifier (offerId, orderNumber, or carrierReference)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Y73Q0"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AcceptOfferRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Offer accepted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Offer"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: missing or invalid bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden: missing/invalid API key or API access not enabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "Offer not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "409": {
            "description": "Offer not in valid state for acceptance",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        }
      }
    },
    "/v1/carrier/bundles/{bundleId}/reject": {
      "put": {
        "tags": [
          "Carrier API"
        ],
        "summary": "Reject a bundle",
        "operationId": "rejectBundle",
        "parameters": [
          {
            "name": "bundleId",
            "in": "path",
            "description": "Bundle ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "507f1f77bcf86cd799439012"
          }
        ],
        "responses": {
          "200": {
            "description": "Bundle rejected successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bundle"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: missing or invalid bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden: missing/invalid API key or API access not enabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "Bundle not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "409": {
            "description": "Bundle not in valid state for rejection",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        }
      }
    },
    "/v1/carrier/bundles/{bundleId}/accept": {
      "put": {
        "tags": [
          "Carrier API"
        ],
        "summary": "Accept a bundle",
        "description": "Accept a bundle of offers. You can optionally exclude specific offers from the bundle using `offerIdsToExclude`.\n\nCarrier tracking data (reference number, driver info) provided in the request body is applied to all accepted offers in the bundle.\n\n**State requirement:** The bundle must be in OPEN status.",
        "operationId": "acceptBundle",
        "parameters": [
          {
            "name": "bundleId",
            "in": "path",
            "description": "Bundle ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "507f1f77bcf86cd799439012"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AcceptBundleRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bundle accepted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bundle"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: missing or invalid bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden: missing/invalid API key or API access not enabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "Bundle not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "409": {
            "description": "Bundle not in valid state for acceptance",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        }
      }
    },
    "/v1/shipper/shipment": {
      "post": {
        "tags": [
          "Shipper API"
        ],
        "summary": "Create a new shipment",
        "description": "Creates a new shipment order. Optionally reference a previously generated quote. The shipment must be confirmed after creation.\n\n**Note:** The `companyId` is automatically extracted from your API key.\nYou do not need to provide this value in the request body.\n\nFor M2M (machine-to-machine) integrations, no user context is required.\n",
        "operationId": "createShipment",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Optional idempotency key. Retrying the same request with the same key within 24h returns the original response without creating a second shipment. Reusing the key with a different body returns 409 idempotency_key_conflict.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateShipmentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Shipment created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Shipment"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request: validation error, quote mismatch, or expired quote",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: missing or invalid Bearer token (authentication failed)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden: missing/invalid API key, user not in company, or quote not owned by company",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity. Possible reasons:\n\n- **Location Not Serviceable** (`reason: no_coverage`) — the lane is not within Oway's active coverage area.\n- **Request Not Permitted** (`reason: account_restriction`) — the requested truck type or accessorial is not enabled for your account. Contact your Oway representative to update your available options.\n- **Daily Trip Limit Reached** (`reason: daily_trip_limit`) — your account has reached its maximum shipments for the requested pickup date. You can still place orders for other dates.\n- **Pallet Shape Not Shippable** (`reason: pallet_invalid`) — one or more pallets exceed Oway's dimension or weight limits; per-field details are in `violations`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        }
      }
    },
    "/v1/shipper/shipment/{orderNumber}/appointment/{stop}/document/{documentType}": {
      "post": {
        "tags": [
          "Shipper API"
        ],
        "summary": "Upload a supporting document for an appointment",
        "description": "Multipart upload of a supporting document for one stop on an order. Allowed content types: application/pdf, image/jpeg, image/png. Images are wrapped to single-page PDF on upload. Max size 10 MB. Replaces any existing document of the same (stop, type).\n\ndocumentType must be one of: PACKING_SLIP, CUSTOMER_BOL. APPOINTMENT_DOCUMENT is system-only and returns 400 if attempted.\n\nMutability: writes against an order past ACCEPTED return 409 order_accepted_appointment_locked.",
        "operationId": "uploadDocument",
        "parameters": [
          {
            "name": "orderNumber",
            "in": "path",
            "description": "Order number (PRO)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "ZKYQ5"
          },
          {
            "name": "stop",
            "in": "path",
            "description": "pickup | delivery",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "PICKUP",
                "DELIVERY"
              ]
            }
          },
          {
            "name": "documentType",
            "in": "path",
            "description": "Document type: PACKING_SLIP or CUSTOMER_BOL",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "PACKING_SLIP",
                "CUSTOMER_BOL",
                "APPOINTMENT_DOCUMENT"
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                },
                "required": [
                  "file"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Document uploaded; body is the persisted document metadata.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppointmentDocumentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. Includes attempts to upload APPOINTMENT_DOCUMENT (reason: appointment_document_not_user_uploadable).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "Order does not exist or does not belong to your company.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "409": {
            "description": "Order is past ACCEPTED; appointment data is locked.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "413": {
            "description": "File exceeds the 10 MB upload limit.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported content type. Allowed: application/pdf, image/jpeg, image/png.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Shipper API"
        ],
        "summary": "Delete a supporting document for an appointment",
        "description": "Idempotent delete. Returns 204 whether or not the document existed.",
        "operationId": "deleteDocument",
        "parameters": [
          {
            "name": "orderNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "stop",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "PICKUP",
                "DELIVERY"
              ]
            }
          },
          {
            "name": "documentType",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "PACKING_SLIP",
                "CUSTOMER_BOL",
                "APPOINTMENT_DOCUMENT"
              ]
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted (or no-op when absent)."
          },
          "404": {
            "description": "Order does not exist or does not belong to your company.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "409": {
            "description": "Order is past ACCEPTED; appointment data is locked.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        }
      }
    },
    "/v1/shipper/quote": {
      "post": {
        "tags": [
          "Shipper API"
        ],
        "summary": "Request a shipping quote",
        "description": "Generates a price quote for a shipment based on origin, destination, and cargo details. The quote is valid for 2 days.\n\n**Note:** The `companyId` is automatically extracted from your API key.\nYou do not need to provide this value in the request body.\n\nFor M2M (machine-to-machine) integrations, no user context is required.\n",
        "operationId": "requestQuote",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QuoteRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Quote generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuoteResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request: validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: missing or invalid Bearer token (authentication failed)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden: missing/invalid API key, or user does not belong to the authorized company",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity. Possible reasons:\n\n- **Location Not Serviceable** (`reason: no_coverage`) — the lane is not within Oway's active coverage area.\n- **Request Not Permitted** (`reason: account_restriction`) — the requested truck type or accessorial is not enabled for your account. Contact your Oway representative to update your available options.\n- **Daily Trip Limit Reached** (`reason: daily_trip_limit`) — your account has reached its maximum shipments for the requested pickup date. You can still place orders for other dates.\n- **Pallet Shape Not Shippable** (`reason: pallet_invalid`) — one or more pallets exceed Oway's dimension or weight limits; per-field details are in `violations`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        }
      }
    },
    "/v1/carrier/shipments/{identifier}/upload": {
      "post": {
        "tags": [
          "Carrier API"
        ],
        "summary": "Request upload URL for signature or proof of delivery",
        "description": "Returns a pre-signed URL for uploading a file directly to storage. Use HTTP PUT to upload the file to the returned URL with the specified content type.\n\n**Document types:** `SIGNATURE` (signature image), `PROOF_OF_DELIVERY` (POD document)\n\n**Content types:** `image/png`, `image/jpeg`, `application/pdf`\n\n**Upload flow:**\n1. Call this endpoint to get a pre-signed URL\n2. PUT your file to the returned `uploadUrl` with `Content-Type` header matching `contentType`\n3. URL expires in 15 minutes",
        "operationId": "requestUploadUrl",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "description": "Shipment identifier (offerId, orderNumber, or carrierReference)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Y73Q0"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UploadUrlRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Upload URL generated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadUrlResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid document type or content type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: missing or invalid bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden: missing/invalid API key or API access not enabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "Shipment not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        }
      }
    },
    "/v1/carrier/shipments/{identifier}/milestones": {
      "post": {
        "tags": [
          "Carrier API"
        ],
        "summary": "Report a shipment milestone",
        "description": "Records a physical shipment observation without changing the shipment's commercial order state.",
        "operationId": "reportMilestone",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "description": "Shipment identifier (offerId, orderNumber, or carrierReference)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Y73Q0"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MilestoneReportRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Milestone recorded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShipmentMilestoneDTO"
                }
              }
            }
          },
          "400": {
            "description": "Invalid milestone request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "403": {
            "description": "Carrier is not authorized for this shipment",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "Shipment not found for this carrier",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "409": {
            "description": "Shipment is not in a reportable state",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "500": {
            "description": "Milestone could not be recorded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        }
      }
    },
    "/v1/carrier/shipments/{identifier}/location": {
      "post": {
        "tags": [
          "Carrier API"
        ],
        "summary": "Submit GPS location for a shipment",
        "description": "Submit a GPS location update tied to a specific shipment.\n\n**State requirement:** The shipment must be in ACCEPTED or PICKED_UP status.",
        "operationId": "submitLocation",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "description": "Shipment identifier (offerId, orderNumber, or carrierReference)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Y73Q0"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OfferLocationUpdate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Location update acknowledged",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocationAcknowledgment"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request: latitude, longitude, and timestamp are required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: missing or invalid bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden: missing/invalid API key or API access not enabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "Shipment not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "409": {
            "description": "Shipment not in valid state for location updates",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        }
      }
    },
    "/v1/carrier/shipments/{identifier}/exception": {
      "post": {
        "tags": [
          "Carrier API"
        ],
        "summary": "Report a shipment exception or delay",
        "description": "Report an exception such as weather delay, vehicle breakdown, or address issue.\n\n**State requirement:** The shipment must be in ACCEPTED or PICKED_UP status.",
        "operationId": "reportException",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "description": "Shipment identifier (offerId, orderNumber, or carrierReference)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Y73Q0"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExceptionReportRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Exception recorded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request: exceptionType and exceptionTime are required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: missing or invalid bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden: missing/invalid API key or API access not enabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "Shipment not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "409": {
            "description": "Shipment not in valid state for exception reporting",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        }
      }
    },
    "/v1/carrier/coverage/trips": {
      "post": {
        "tags": [
          "Carrier API"
        ],
        "summary": "Submit trip data",
        "description": "Submit trip data for carrier vehicles. Each trip must include vehicle ID, trip number, and legs with start/end coordinates and arrival windows.",
        "operationId": "addTrips",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CarrierTripRequest"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Trips accepted and processed; returns count of trips added",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request: missing required fields or invalid trip data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: missing or invalid bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden: API access is not enabled for this carrier",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "Carrier not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/token": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Obtain access token",
        "description": "Exchange client credentials for an access token.\n\nThe returned token includes scopes that determine API access:\n- `shipper` scope grants access to `/v1/shipper/**` endpoints\n- `carrier` scope grants access to `/v1/carrier/**` endpoints\n- Partners with both scopes can access both APIs with a single token\n\nThe returned token should be included in subsequent API requests as a Bearer token\nin the authorization header: `authorization: Bearer {access_token}`\n\nTokens are valid for the duration specified in `expires_in` (seconds).\nWe recommend caching tokens and refreshing them before expiration.\n",
        "operationId": "getToken",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TokenRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Token successfully generated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request: missing required fields",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/shipper/shipment/{orderNumber}": {
      "get": {
        "tags": [
          "Shipper API"
        ],
        "summary": "Get a shipment by order number",
        "description": "Retrieves a shipment by its order number (PRO number). The order number is a 5-character alphanumeric code (e.g., ZKYQ5) that uniquely identifies the shipment.",
        "operationId": "getShipment",
        "parameters": [
          {
            "name": "orderNumber",
            "in": "path",
            "description": "Order number (5-character alphanumeric code, commonly called PRO number)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "ZKYQ5"
          }
        ],
        "responses": {
          "200": {
            "description": "Shipment retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Shipment"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request: orderNumber is required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: missing or invalid Bearer token (authentication failed)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden: missing/invalid API key, or shipment does not belong to your company",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "Shipment not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        }
      }
    },
    "/v1/shipper/shipment/{orderNumber}/tracking": {
      "get": {
        "tags": [
          "Shipper API"
        ],
        "summary": "Track a shipment by order number",
        "description": "Retrieves tracking information for a shipment by its order number (PRO number). Returns status and estimated/actual pickup and delivery dates. Pass `include=location` to embed the live position estimate (route-interpolated, refined by recent vehicle positions, with an uncertainty radius) in the response. It is omitted by default so status polling does not pay the position-computation cost.",
        "operationId": "trackShipment",
        "parameters": [
          {
            "name": "orderNumber",
            "in": "path",
            "description": "Order number (5-character alphanumeric code, commonly called PRO number)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "ZKYQ5"
          },
          {
            "name": "include",
            "in": "query",
            "description": "Comma-separated optional sections to include. Currently supports 'location' to embed the live shipment position estimate (route-interpolated, refined by recent vehicle positions, with an uncertainty radius). Omitted by default so status polling does not pay the position-computation cost.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "location"
          }
        ],
        "responses": {
          "200": {
            "description": "Tracking information retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tracking"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request: orderNumber is required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: missing or invalid Bearer token (authentication failed)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden: missing/invalid API key, or shipment does not belong to your company",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "Shipment not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        }
      }
    },
    "/v1/shipper/shipment/{orderNumber}/invoice": {
      "get": {
        "tags": [
          "Shipper API"
        ],
        "summary": "Get itemized invoice for a delivered shipment",
        "description": "Retrieves the itemized invoice for a delivered shipment.\nThe invoice includes all charges (base freight, accessorials) and line items.\n\n**Note:** This endpoint is only available for shipments in DELIVERED state.\nInvoices are finalized when a shipment is delivered.\n",
        "operationId": "getInvoice",
        "parameters": [
          {
            "name": "orderNumber",
            "in": "path",
            "description": "Order number (5-character alphanumeric code, commonly called PRO number)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "ZKYQ5"
          }
        ],
        "responses": {
          "200": {
            "description": "Invoice retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request: orderNumber is required, or shipment is not in DELIVERED state",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: missing or invalid Bearer token (authentication failed)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden: missing/invalid API key, or shipment does not belong to your company",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "Shipment not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        }
      }
    },
    "/v1/shipper/shipment/{orderNumber}/document/{documentType}": {
      "get": {
        "tags": [
          "Shipper API"
        ],
        "summary": "Get a shipment document by order number",
        "description": "Retrieves a download link for a shipment document using the order number (PRO number). Supported document types: BILL_OF_LADING, INVOICE, SHIPPING_LABEL, POD.",
        "operationId": "getDocument",
        "parameters": [
          {
            "name": "orderNumber",
            "in": "path",
            "description": "Order number (5-character alphanumeric code, commonly called PRO number)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "ZKYQ5"
          },
          {
            "name": "documentType",
            "in": "path",
            "description": "Type of document to retrieve",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "BILL_OF_LADING",
                "INVOICE",
                "SHIPPING_LABEL",
                "POD"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Document URL retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request: orderNumber and documentType are required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: missing or invalid Bearer token (authentication failed)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden: missing/invalid API key, or shipment does not belong to your company",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "Shipment or document not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        }
      }
    },
    "/v1/shipper/shipment/{orderNumber}/appointment/{stop}/pdf": {
      "get": {
        "tags": [
          "Shipper API"
        ],
        "summary": "Read generated appointment PDF",
        "description": "Returns the generated appointment PDF snapshot for one stop. The PDF is built at carrier acceptance (cover sheet + merged supporting documents) and re-generated on subsequent shipper-driven updates. Returns 404 before generation has occurred.",
        "operationId": "getAppointmentPdf",
        "parameters": [
          {
            "name": "orderNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "stop",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "PICKUP",
                "DELIVERY"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the application/pdf bytes for this stop.",
            "content": {
              "application/pdf": {}
            }
          },
          "404": {
            "description": "PDF has not been generated for this order/stop yet (reason `appointment_pdf_not_generated`), or the order does not exist (reason `order_not_found`).",
            "content": {
              "application/pdf": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        }
      }
    },
    "/v1/shipper/quote/{quoteId}": {
      "get": {
        "tags": [
          "Shipper API"
        ],
        "summary": "Get a quote by ID",
        "description": "Retrieves an existing quote by its unique identifier. Quotes are valid for 2 days from creation.",
        "operationId": "getQuote",
        "parameters": [
          {
            "name": "quoteId",
            "in": "path",
            "description": "Unique quote ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Quote retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuoteResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request: quote ID format is invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: missing or invalid Bearer token (authentication failed)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden: missing, invalid, or expired API key (authorization failed)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "Quote not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        }
      }
    },
    "/v1/carrier/shipments": {
      "get": {
        "tags": [
          "Carrier API"
        ],
        "summary": "List shipments",
        "description": "Retrieves active and completed shipments (accepted offers) for this carrier. Filter by time range.",
        "operationId": "getShipments",
        "parameters": [
          {
            "name": "activeOnly",
            "in": "query",
            "description": "If true, only return currently active shipments (excludes delivered)",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "startTime",
            "in": "query",
            "description": "Filter shipments after this time (ISO 8601 format)",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endTime",
            "in": "query",
            "description": "Filter shipments before this time (ISO 8601 format)",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Shipments retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CarrierShipment"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: missing or invalid bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden: missing/invalid API key or API access not enabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        }
      }
    },
    "/v1/carrier/shipments/{identifier}": {
      "get": {
        "tags": [
          "Carrier API"
        ],
        "summary": "Get shipment by identifier",
        "description": "Retrieves shipment details. The identifier can be an offerId, orderNumber, or carrierReference.",
        "operationId": "getShipment_1",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "description": "Shipment identifier (offerId, orderNumber, or carrierReference)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Y73Q0"
          }
        ],
        "responses": {
          "200": {
            "description": "Shipment retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CarrierShipment"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: missing or invalid bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden: missing/invalid API key or API access not enabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "Shipment not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        }
      }
    },
    "/v1/carrier/shipments/{identifier}/tracking": {
      "get": {
        "tags": [
          "Carrier API"
        ],
        "summary": "Get shipment tracking history",
        "description": "Retrieves GPS location history for a specific shipment.",
        "operationId": "getShipmentTracking",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "description": "Shipment identifier (offerId, orderNumber, or carrierReference)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Y73Q0"
          }
        ],
        "responses": {
          "200": {
            "description": "Tracking data retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrackingResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: missing or invalid bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden: missing/invalid API key or API access not enabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "Shipment not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        }
      }
    },
    "/v1/carrier/shipments/{identifier}/document/{documentType}": {
      "get": {
        "tags": [
          "Carrier API"
        ],
        "summary": "Get shipment document",
        "description": "Retrieves a document for a shipment. Returns a pre-signed download URL.\n\n**Supported document types:**\n- `BILL_OF_LADING` — Bill of lading (driver version)\n- `SHIPPING_LABEL` — Shipping label",
        "operationId": "getShipmentDocument",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "description": "Shipment identifier (offerId, orderNumber, or carrierReference)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Y73Q0"
          },
          {
            "name": "documentType",
            "in": "path",
            "description": "Document type",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "BILL_OF_LADING",
                "SHIPPING_LABEL"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Document URL retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CarrierDocumentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid document type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: missing or invalid bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden: missing/invalid API key or API access not enabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "Shipment or document not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        }
      }
    },
    "/v1/carrier/offers": {
      "get": {
        "tags": [
          "Carrier API"
        ],
        "summary": "List offers",
        "description": "Retrieves pending offers for this carrier. These are offers that have not yet been accepted or rejected.\n\n**Note:** Accepted offers appear under `/shipments` instead.",
        "operationId": "getOffers",
        "responses": {
          "200": {
            "description": "Offers retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Offer"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: missing or invalid bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden: API access is not enabled for this carrier",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "Carrier not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        }
      }
    },
    "/v1/carrier/offers/{identifier}": {
      "get": {
        "tags": [
          "Carrier API"
        ],
        "summary": "Get offer by identifier",
        "description": "Retrieves offer details. The identifier can be an offerId, orderNumber, or carrierReference.",
        "operationId": "getOffer",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "description": "Offer identifier (offerId, orderNumber, or carrierReference)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Y73Q0"
          }
        ],
        "responses": {
          "200": {
            "description": "Offer retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Offer"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: missing or invalid bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden: missing/invalid API key or API access not enabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "Offer not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        }
      }
    },
    "/v1/carrier/bundles": {
      "get": {
        "tags": [
          "Carrier API"
        ],
        "summary": "List bundles for this carrier",
        "description": "Retrieves bundles for this carrier. A bundle is a group of related offers presented together.\n\n**Bundle statuses:** OPEN (awaiting response), ACCEPTED, DECLINED, SUBSET_ACCEPTED (some offers accepted), EXPIRED",
        "operationId": "getBundles",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "Filter bundles by status (OPEN, ACCEPTED, DECLINED, EXPIRED)",
            "required": false,
            "schema": {
              "type": "string",
              "default": "OPEN"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Bundles retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Bundle"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: missing or invalid bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden: missing/invalid API key or API access not enabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        }
      }
    },
    "/v1/carrier/bundles/{bundleId}": {
      "get": {
        "tags": [
          "Carrier API"
        ],
        "summary": "Get a single bundle by ID",
        "operationId": "getBundle",
        "parameters": [
          {
            "name": "bundleId",
            "in": "path",
            "description": "Bundle ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "507f1f77bcf86cd799439012"
          }
        ],
        "responses": {
          "200": {
            "description": "Bundle retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Bundle"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: missing or invalid bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden: missing/invalid API key or API access not enabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "Bundle not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Shipment": {
        "type": "object",
        "description": "Shipment/Order details",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the order",
            "example": "67b6c5fcfbf1be6b24127646"
          },
          "companyId": {
            "type": "string",
            "description": "Company ID that owns this order",
            "example": "67c0dfa95bff090747660465"
          },
          "userId": {
            "type": "string",
            "description": "User ID who created this order",
            "example": "679410f5b074882a64b9ea7f"
          },
          "orderNumber": {
            "type": "string",
[...]
