{"openapi":"3.0.1","info":{"title":"Oway API","description":"Oway APIs for shippers and carriers.\n\n## Authentication & Authorization\n\nThe Shipper API uses a two-layer security model:\n\n### Layer 1: Authentication (Bearer Token)\n\n**Proves who you are.** All requests require a valid JWT Bearer token.\n\n| Scope | Access |\n|-------|--------|\n| `shipper` | Access to `/v1/shipper/**` endpoints |\n| `carrier` | Access to `/v1/carrier/**` endpoints |\n| `dev` | Sandbox environment access |\n| `prod` | Production environment access |\n\n**Request a Token:**\n```\nPOST /v1/auth/token\n{\n  \"clientId\": \"YOUR_CLIENT_ID\",\n  \"clientSecret\": \"YOUR_CLIENT_SECRET\"\n}\n```\n\n**Include in all requests:**\n```\nauthorization: Bearer {accessToken}\n```\n\nTokens are valid for 24 hours.\n\n### Layer 2: Authorization (API Key)\n\n**Proves which company you're accessing.** External API requests require an API key.\nEach key is tied to a single company in Oway.\n\n**Key Formats:**\n- Shipper: `oway_sk_xxx...`\n- Carrier: `oway_ck_xxx...`\n\n**Include in all external API requests:**\n```\nx-oway-api-key: oway_sk_abc123def456...  # for Shipper API\nx-oway-api-key: oway_ck_abc123def456...  # for Carrier API\n```\n\nAPI keys are:\n- **Self-service**: Generate and manage keys in your Oway portal\n- **Per-company**: Each key grants access to one company's resources\n- **Revocable**: Delete keys at any time to revoke access\n- **Auditable**: Track which key is used for each request\n\n### Complete Request Examples\n\n**Search for a shipment:**\n```\nGET /v1/shipper/shipment/search?orderNumber=25\nauthorization: Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9...\nx-oway-api-key: oway_sk_tGQzVonqp1odPHJ7zDYImBLYuVQ6Sz9S...\n```\n\n**Create a shipment:**\n```\nPOST /v1/shipper/shipment\nauthorization: Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9...\nx-oway-api-key: oway_sk_tGQzVonqp1odPHJ7zDYImBLYuVQ6Sz9S...\ncontent-type: application/json\n\n{\n  \"pickupAddress\": {\n    \"address1\": \"1531 Junipero Avenue\",\n    \"city\": \"Long Beach\",\n    \"state\": \"CA\",\n    \"zipCode\": \"90804\",\n    \"contactName\": \"John Smith\",\n    \"contactPhone\": \"+18087857650\"\n  },\n  \"deliveryAddress\": { ... },\n  \"weight\": 500,\n  \"commodityDescription\": \"Palletized goods\"\n}\n```\n\n**Submit GPS data (Carrier API):**\n```\nPOST /v1/carrier/{carrierId}/gps-data\nauthorization: Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9...\nx-oway-api-key: oway_ck_abc123def456ghi789jkl012mno345...\ncontent-type: application/json\n\n[\n  {\n    \"vehicleId\": \"TRUCK-001\",\n    \"latitude\": 33.787363,\n    \"longitude\": -118.163715,\n    \"timestamp\": \"2025-02-20T17:33:15Z\",\n    \"heading\": 180,\n    \"speed\": 55\n  }\n]\n```\n\n## API Key Details\n\nEach API key is **tied to a single company** in Oway. The key determines which company's\nresources you can access:\n\n- Use a **shipper key** (`oway_sk_...`) for Shipper API endpoints\n- Use a **carrier key** (`oway_ck_...`) for Carrier API endpoints\n\n**Key Management:**\n- Generate keys in your Oway portal (Settings → API Keys)\n- Each key is tied to your company - you cannot access other companies' data\n- Revoke keys at any time to disable access\n- Keys are shown only once at creation - store them securely\n\n## Shipper API Workflow\n\n### Setup Flow\n1. **Create a Company** - Create a shipper company with billing information\n2. **Create Users** - Create users associated with the company\n3. **Place Shipments** - Users can now create shipments\n\n### Shipment Flow\n1. **Request a Quote** (optional) - Quotes are valid for 2 days\n2. **Create Shipment** - Creates order in INITIALIZED state\n3. **Confirm Shipment** - Confirms the order for pickup\n\n## Response Codes\n\n| Code | Description |\n|------|-------------|\n| 200 | Success |\n| 400 | Bad Request - validation error |\n| 401 | Unauthorized - invalid or missing authentication |\n| 403 | Forbidden - missing required scope or resource access denied |\n| 404 | Not Found |\n| 429 | Rate limit exceeded |\n| 500 | Internal server error |\n","contact":{"name":"Oway Support","email":"support@oway.io"},"version":"1.0.0"},"externalDocs":{"description":"Oway API Developer Portal","url":"https://oway.readme.io"},"servers":[{"url":"https://rest-api.oway.io","description":"Production"},{"url":"https://rest-api.sandbox.oway.io","description":"Sandbox Environment"},{"url":"http://localhost:8180","description":"Local Development"}],"security":[{"bearerAuth":[],"apiKey":[]}],"tags":[{"name":"Shipper API","description":"Shipper integration endpoints for quotes and shipments.\n\n**Authentication & Authorization Required:**\n\nAll endpoints require BOTH credentials:\n1. **Bearer Token** (`authorization: Bearer {token}`) - Proves identity, requires `shipper` scope\n2. **API Key** (`x-oway-api-key: oway_sk_...`) - Determines which company's resources you can access\n\nThe API key is tied to your shipper company and automatically scopes all operations to that company's data.\nSee the Authentication section above for details on obtaining credentials.\n"}],"paths":{"/v1/shipper/shipment/{orderNumber}/confirm":{"put":{"tags":["Shipper API","Shipper - Shipment"],"summary":"Confirm a shipment by order number","description":"Confirms an existing shipment using its order number (PRO number).\nMoves the shipment from INITIALIZED to CONFIRMED state.\n\n**Prerequisites:**\n- The order must be in INITIALIZED state\n- The order must have an associated quote\n\n**Validation Requirements:**\n\nThe following fields are validated during confirmation. If any are missing or invalid,\nthe shipment will remain in INITIALIZED state.\n\n*Address Fields (required on BOTH pickup and delivery addresses):*\n- `name` - Location/company name\n- `address1` - Street address\n- `zipCode` - ZIP code\n- `contactPerson` - Contact name\n- `phoneNumber` - Contact phone (E.164 format, e.g., \"+15551234567\")\n- `openTime` - Opening time in HH:mm format (defaults to \"10:00\")\n- `closeTime` - Closing time in HH:mm format (defaults to \"16:00\")\n\n*Order Fields:*\n- `description` - Must not be empty\n- `totalPalletCount` - Must be between 1 and 51\n- `totalPoundsWeight` - Must be between 1 and 2,500 lbs per pallet\n\n*Order Component Fields (per component):*\n- `palletCount` - Must be at least 1\n- `poundsWeight` - Must be between 1 and 2,500 lbs per pallet\n- `palletDimensions` - Must be valid dimensions within limits (subject to change, these are configurable):\n  - Standard: max 60×52×94 inches (L×W×H) - pallets exceeding these are charged as oversized\n  - Oversized maximum: 95×95×96 inches - no pallet can exceed this\n  - With liftgate: max 62×62×94 inches\n\n*Component Totals:*\n- Sum of component `palletCount` must equal order `totalPalletCount`\n- Sum of component `poundsWeight` must equal order `totalPoundsWeight`\n","operationId":"confirmShipmentByOrderNumber","parameters":[{"name":"orderNumber","in":"path","description":"Order number (5-character alphanumeric code, commonly called PRO number)","required":true,"schema":{"type":"string"},"example":"ZKYQ5"}],"responses":{"403":{"description":"Forbidden: missing/invalid API key, or shipment does not belong to your company","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/Shipment"}}}},"200":{"description":"Shipment confirmed successfully. Verify the response contains `orderStatus: CONFIRMED` to ensure confirmation succeeded.","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/Shipment"}}}},"401":{"description":"Unauthorized: missing or invalid Bearer token (authentication failed)","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/Shipment"}}}},"500":{"description":"Internal server error","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/Shipment"}}}},"404":{"description":"Shipment not found","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/Shipment"}}}},"400":{"description":"Invalid request: orderNumber is required, order is not in INITIALIZED state, or is missing a quote","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/Shipment"}}}}}}},"/v1/shipper/shipment/{orderNumber}/cancel":{"put":{"tags":["Shipper API","Shipper - Shipment"],"summary":"Cancel a shipment by order number","description":"Cancels an existing shipment using its order number (PRO number). Shipments can only be cancelled when they are in a cancellable state (e.g., before pickup).","operationId":"cancelShipmentByOrderNumber","parameters":[{"name":"orderNumber","in":"path","description":"Order number (5-character alphanumeric code, commonly called PRO number)","required":true,"schema":{"type":"string"},"example":"ZKYQ5"}],"responses":{"200":{"description":"Shipment cancelled successfully","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/Shipment"}}}},"403":{"description":"Forbidden: missing/invalid API key, or shipment does not belong to your company","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/Shipment"}}}},"400":{"description":"Invalid request: orderNumber is required, or order cannot be cancelled in its current state","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/Shipment"}}}},"401":{"description":"Unauthorized: missing or invalid Bearer token (authentication failed)","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/Shipment"}}}},"500":{"description":"Internal server error","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/Shipment"}}}},"404":{"description":"Shipment not found","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/Shipment"}}}}}}},"/v1/shipper/shipment":{"post":{"tags":["Shipper API"],"summary":"Create a new shipment","description":"Creates a new shipment order. Optionally reference a previously generated quote. The shipment must be confirmed after creation.\n\n**Note:** The `companyId` is automatically extracted from your API key.\nYou do not need to provide this value in the request body.\n\nFor M2M (machine-to-machine) integrations, no user context is required.\n","operationId":"createShipment","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateShipmentRequest"}}},"required":true},"responses":{"200":{"description":"Shipment created successfully","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/Shipment"}}}},"400":{"description":"Invalid request: validation error, quote mismatch, or expired quote","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/Shipment"}}}},"401":{"description":"Unauthorized: missing or invalid Bearer token (authentication failed)","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/Shipment"}}}},"403":{"description":"Forbidden: missing/invalid API key, user not in company, or quote not owned by company","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/Shipment"}}}},"500":{"description":"Internal server error","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/Shipment"}}}}}}},"/v1/shipper/quote":{"post":{"tags":["Shipper API"],"summary":"Request a shipping quote","description":"Generates a price quote for a shipment based on origin, destination, and cargo details. The quote is valid for 2 days.\n\n**Note:** The `companyId` is automatically extracted from your API key.\nYou do not need to provide this value in the request body.\n\nFor M2M (machine-to-machine) integrations, no user context is required.\n","operationId":"requestQuote","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QuoteRequest"}}},"required":true},"responses":{"400":{"description":"Invalid request: validation error","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/QuoteResponse"}}}},"401":{"description":"Unauthorized: missing or invalid Bearer token (authentication failed)","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/QuoteResponse"}}}},"403":{"description":"Forbidden: missing/invalid API key, or user does not belong to the authorized company","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/QuoteResponse"}}}},"200":{"description":"Quote generated successfully","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/QuoteResponse"}}}},"500":{"description":"Internal server error","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/QuoteResponse"}}}}}}},"/v1/shipper/shipment/{orderNumber}":{"get":{"tags":["Shipper API","Shipper - Shipment"],"summary":"Get a shipment by order number","description":"Retrieves a shipment by its order number (PRO number). The order number is a 5-character alphanumeric code (e.g., ZKYQ5) that uniquely identifies the shipment.","operationId":"getShipmentByOrderNumber","parameters":[{"name":"orderNumber","in":"path","description":"Order number (5-character alphanumeric code, commonly called PRO number)","required":true,"schema":{"type":"string"},"example":"ZKYQ5"}],"responses":{"403":{"description":"Forbidden: missing/invalid API key, or shipment does not belong to your company","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/Shipment"}}}},"401":{"description":"Unauthorized: missing or invalid Bearer token (authentication failed)","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/Shipment"}}}},"400":{"description":"Invalid request: orderNumber is required","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/Shipment"}}}},"404":{"description":"Shipment not found","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/Shipment"}}}},"200":{"description":"Shipment retrieved successfully","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/Shipment"}}}}}}},"/v1/shipper/shipment/{orderNumber}/tracking":{"get":{"tags":["Shipper API","Shipper - Shipment"],"summary":"Track a shipment by order number","description":"Retrieves tracking information for a shipment by its order number (PRO number). Returns status and estimated/actual pickup and delivery dates.","operationId":"trackShipmentByOrderNumber","parameters":[{"name":"orderNumber","in":"path","description":"Order number (5-character alphanumeric code, commonly called PRO number)","required":true,"schema":{"type":"string"},"example":"ZKYQ5"}],"responses":{"403":{"description":"Forbidden: missing/invalid API key, or shipment does not belong to your company","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/Tracking"}}}},"401":{"description":"Unauthorized: missing or invalid Bearer token (authentication failed)","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/Tracking"}}}},"200":{"description":"Tracking information retrieved successfully","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/Tracking"}}}},"400":{"description":"Invalid request: orderNumber is required","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/Tracking"}}}},"404":{"description":"Shipment not found","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/Tracking"}}}}}}},"/v1/shipper/shipment/{orderNumber}/invoice":{"get":{"tags":["Shipper API","Shipper - Shipment"],"summary":"Get itemized invoice for a delivered shipment","description":"Retrieves the itemized invoice for a delivered shipment.\nThe invoice includes all charges (base freight, accessorials) and line items.\n\n**Note:** This endpoint is only available for shipments in DELIVERED state.\nInvoices are finalized when a shipment is delivered.\n","operationId":"getInvoice","parameters":[{"name":"orderNumber","in":"path","description":"Order number (5-character alphanumeric code, commonly called PRO number)","required":true,"schema":{"type":"string"},"example":"ZKYQ5"}],"responses":{"403":{"description":"Forbidden: missing/invalid API key, or shipment does not belong to your company","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/InvoiceResponse"}}}},"401":{"description":"Unauthorized: missing or invalid Bearer token (authentication failed)","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/InvoiceResponse"}}}},"404":{"description":"Shipment not found","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/InvoiceResponse"}}}},"400":{"description":"Invalid request: orderNumber is required, or shipment is not in DELIVERED state","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/InvoiceResponse"}}}},"200":{"description":"Invoice retrieved successfully","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/InvoiceResponse"}}}}}}},"/v1/shipper/shipment/{orderNumber}/document/{documentType}":{"get":{"tags":["Shipper API","Shipper - Shipment"],"summary":"Get a shipment document by order number","description":"Retrieves a download link for a shipment document using the order number (PRO number). Supported document types: BILL_OF_LADING, INVOICE, SHIPPING_LABEL.","operationId":"getDocumentByOrderNumber","parameters":[{"name":"orderNumber","in":"path","description":"Order number (5-character alphanumeric code, commonly called PRO number)","required":true,"schema":{"type":"string"},"example":"ZKYQ5"},{"name":"documentType","in":"path","description":"Type of document to retrieve","required":true,"schema":{"type":"string","enum":["BILL_OF_LADING","INVOICE","SHIPPING_LABEL"]}}],"responses":{"403":{"description":"Forbidden: missing/invalid API key, or shipment does not belong to your company","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/DocumentResponse"}}}},"400":{"description":"Invalid request: orderNumber and documentType are required","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/DocumentResponse"}}}},"404":{"description":"Shipment or document not found","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/DocumentResponse"}}}},"401":{"description":"Unauthorized: missing or invalid Bearer token (authentication failed)","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/DocumentResponse"}}}},"200":{"description":"Document URL retrieved successfully","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/DocumentResponse"}}}},"500":{"description":"Internal server error","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/DocumentResponse"}}}}}}},"/v1/shipper/quote/{quoteId}":{"get":{"tags":["Shipper API"],"summary":"Get a quote by ID","description":"Retrieves an existing quote by its unique identifier. Quotes are valid for 2 days from creation.","operationId":"getQuote","parameters":[{"name":"quoteId","in":"path","description":"Unique quote ID","required":true,"schema":{"type":"string"}}],"responses":{"401":{"description":"Unauthorized: missing or invalid Bearer token (authentication failed)","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/QuoteResponse"}}}},"403":{"description":"Forbidden: missing, invalid, or expired API key (authorization failed)","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/QuoteResponse"}}}},"400":{"description":"Invalid request: quote ID format is invalid","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/QuoteResponse"}}}},"404":{"description":"Quote not found","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/QuoteResponse"}}}},"200":{"description":"Quote retrieved successfully","content":{"application/hal+json":{"schema":{"$ref":"#/components/schemas/QuoteResponse"}}}}}}}},"components":{"schemas":{"Shipment":{"type":"object","properties":{"id":{"type":"string","description":"Unique identifier for the order","example":"67b6c5fcfbf1be6b24127646"},"companyId":{"type":"string","description":"Company ID that owns this order","example":"67c0dfa95bff090747660465"},"userId":{"type":"string","description":"User ID who created this order","example":"679410f5b074882a64b9ea7f"},"orderNumber":{"type":"string","description":"Human-readable PRO number for the shipment (5-character alphanumeric)","example":"ZKYQ5"},"orderStatus":{"type":"string","description":"Current status of the order","example":"CONFIRMED","enum":["INITIALIZED","CONFIRMED","ACCEPTED","ASSIGNED","PICKED_UP","IN_TRANSIT","DELIVERED","CANCELLED"]},"totalPriceInCents":{"type":"integer","description":"Total price of the order in cents (USD)","format":"int32","example":125000},"createdAt":{"type":"string","description":"Time when the order was created (ISO 8601 format)","format":"date-time","example":"2025-02-20T17:31:10.43Z"},"updatedAt":{"type":"string","description":"Time when the order was last updated (ISO 8601 format)","format":"date-time","example":"2025-02-27T22:51:49.865Z"}},"description":"Shipment/Order details"},"Address":{"required":["address1","city","contactPerson","name","phoneNumber","state","zipCode"],"type":"object","properties":{"name":{"type":"string","description":"Name of the location or business","example":"Fairgrounds Distribution Center"},"address1":{"type":"string","description":"Primary street address","example":"1531 Junipero Avenue"},"address2":{"type":"string","description":"Secondary address line (suite, unit, etc.)","example":"Dock 5"},"city":{"type":"string","description":"City name","example":"Long Beach"},"state":{"pattern":"[A-Z]{2}","type":"string","description":"Two-letter state abbreviation","example":"CA"},"zipCode":{"pattern":"\\d{5}","type":"string","description":"5-digit ZIP code","example":"90804"},"phoneNumber":{"pattern":"^\\+[1-9]\\d{1,14}$","type":"string","description":"Contact phone number in E.164 format","example":"+18087857650"},"contactPerson":{"type":"string","description":"Name of the contact person at this location","example":"Mike Johnson"},"openTime":{"pattern":"^([01]?[0-9]|2[0-3]):[0-5][0-9]$","type":"string","description":"Opening time for the location in 24-hour format (HH:mm). Defaults to 10:00 if not provided.","example":"10:00"},"closeTime":{"pattern":"^([01]?[0-9]|2[0-3]):[0-5][0-9]$","type":"string","description":"Closing time for the location in 24-hour format (HH:mm). Defaults to 16:00 if not provided.","example":"16:00"},"notes":{"type":"string","description":"Additional notes or instructions for the driver","example":"Dock 3, enter from back of building"},"liftgateRequired":{"type":"boolean","description":"Whether a liftgate is required at this location","example":false},"limitedAccess":{"type":"boolean","description":"Whether this is a limited access location (residential, construction site, etc.)","example":false},"appointmentRequired":{"type":"boolean","description":"Whether an appointment is required for pickup/delivery","example":true}},"description":"Address information for pickup or delivery locations"},"CreateShipmentRequest":{"required":["deliveryAddress","description","orderComponents","pickupAddress"],"type":"object","properties":{"quoteId":{"type":"string","description":"Optional ID of a previously generated quote. If provided, the shipment must match the quote parameters.","example":"507f1f77bcf86cd799439013"},"pickupAddress":{"$ref":"#/components/schemas/Address"},"deliveryAddress":{"$ref":"#/components/schemas/Address"},"orderComponents":{"type":"array","description":"List of cargo components in the shipment","items":{"$ref":"#/components/schemas/OrderComponent"}},"description":{"type":"string","description":"Description of the shipment contents","example":"Electronics - fragile"},"poNumber":{"type":"string","description":"Purchase order number for reference","example":"PO-2024-12345"},"refNumber":{"type":"string","description":"Additional reference number","example":"REF-ABC-123"},"requiredPickupDate":{"type":"string","description":"Required pickup date (ISO 8601 format)","format":"date-time","example":"2024-12-24T08:00:00Z"},"requiredDeliveryBy":{"type":"string","description":"Required delivery by date (ISO 8601 format)","format":"date-time","example":"2024-12-26T17:00:00Z"}},"description":"Request to create a new shipment"},"OrderComponent":{"required":["palletCount","palletDimensions","poundsWeight"],"type":"object","properties":{"palletCount":{"minimum":1,"type":"integer","description":"Number of pallets for this component","format":"int32","example":2},"poundsWeight":{"minimum":1,"type":"number","description":"Total weight for this component in pounds. Must be between 1 and 2,500 lbs per pallet (e.g., 2 pallets = max 5,000 lbs).","format":"double","example":1000},"palletDimensions":{"type":"array","description":"Pallet dimensions in inches as [length, width, height].\n\n**Dimension Limits:**\n- Standard shipments: max 95×95×94 inches\n- With liftgate accessorial: max 62×62×94 inches\n- Oversize rule: Both length AND width cannot exceed 60 inches\n- Minimum: 1×1×1 inches\n","example":[48,40,48],"items":{"type":"integer","description":"Pallet dimensions in inches as [length, width, height].\n\n**Dimension Limits:**\n- Standard shipments: max 95×95×94 inches\n- With liftgate accessorial: max 62×62×94 inches\n- Oversize rule: Both length AND width cannot exceed 60 inches\n- Minimum: 1×1×1 inches\n","format":"int32"}}},"description":"Individual cargo component in a shipment.\n\n**Validation Rules:**\n- Total weight across all components must equal order totalPoundsWeight\n- Total pallet count across all components must equal order totalPalletCount\n- Weight must be between 1 and 2,500 lbs per pallet\n- Dimensions must be within limits (see palletDimensions field)\n"},"QuoteRequest":{"required":["deliveryAddress","orderComponents","pickupAddress"],"type":"object","properties":{"pickupAddress":{"$ref":"#/components/schemas/Address"},"deliveryAddress":{"$ref":"#/components/schemas/Address"},"orderComponents":{"type":"array","description":"List of pallets or freight pieces. Quote will be based on total pallet count and weight.","items":{"$ref":"#/components/schemas/OrderComponent"}}},"description":"Request to generate a shipping quote. Quotes are valid for 2 days from creation."},"QuoteResponse":{"type":"object","properties":{"id":{"type":"string","description":"Unique identifier for the quote","example":"507f1f77bcf86cd799439011"},"quotedPriceInCents":{"type":"integer","description":"Total quoted price in cents (USD)","format":"int32","example":125000},"quoteExpirationTime":{"type":"string","description":"Time when the quote expires (ISO 8601 format). Quotes are valid for 2 days.","format":"date-time","example":"2024-12-25T00:00:00Z"}},"description":"Response containing quote details"},"Tracking":{"type":"object","properties":{"id":{"type":"string","description":"Unique identifier for the order","example":"507f1f77bcf86cd799439011"},"orderNumber":{"type":"string","description":"Human-readable PRO number for the shipment (5-character alphanumeric)","example":"ZKYQ5"},"orderStatus":{"type":"string","description":"Current status of the order","example":"PICKED_UP","enum":["INITIALIZED","CONFIRMED","ACCEPTED","ASSIGNED","PICKED_UP","IN_TRANSIT","DELIVERED","CANCELLED"]},"actualPickupDate":{"type":"string","description":"Actual pickup date/time (ISO 8601 format)","format":"date-time","example":"2024-12-23T10:30:00Z"},"actualDeliveryDate":{"type":"string","description":"Actual delivery date/time (ISO 8601 format)","format":"date-time","example":"2024-12-25T14:00:00Z"},"estimatedPickupDate":{"type":"string","description":"Estimated pickup date/time (ISO 8601 format)","format":"date-time","example":"2024-12-23T09:00:00Z"},"estimatedDeliveryDate":{"type":"string","description":"Estimated delivery date/time (ISO 8601 format)","format":"date-time","example":"2024-12-25T12:00:00Z"}},"description":"Shipment tracking information"},"InvoiceCharge":{"type":"object","properties":{"chargeType":{"type":"string","description":"Type of charge (e.g., BASE_FREIGHT, LIFTGATE_PICKUP, LIFTGATE_DELIVERY)","example":"LIFTGATE_PICKUP"},"description":{"type":"string","description":"Human-readable description of the charge","example":"Liftgate Pickup"},"amountInCents":{"type":"integer","description":"Charge amount in cents (USD)","format":"int32","example":7500}},"description":"An individual charge/fee on the invoice"},"InvoiceLineItem":{"type":"object","properties":{"description":{"type":"string","description":"Description of the goods","example":"General Freight"},"freightClass":{"type":"string","description":"Freight class (NMFC)","example":"70"},"weight":{"type":"integer","description":"Weight in pounds","format":"int32","example":1500},"quantity":{"type":"integer","description":"Number of pieces/pallets","format":"int32","example":4},"packageType":{"type":"string","description":"Type of packaging (e.g., PLT for pallet, CTN for carton)","example":"PLT"}},"description":"A line item on the invoice representing shipped goods"},"InvoiceResponse":{"type":"object","properties":{"orderId":{"type":"string","description":"Unique identifier for the order","example":"507f1f77bcf86cd799439011"},"orderNumber":{"type":"string","description":"Order number (PRO number)","example":"ZKYQ5"},"invoiceDate":{"type":"string","description":"Invoice date (when the shipment was delivered)","format":"date-time","example":"2024-12-20T15:30:00Z"},"shipDate":{"type":"string","description":"Ship date (when the shipment was picked up)","format":"date-time","example":"2024-12-18T09:00:00Z"},"deliveryDate":{"type":"string","description":"Delivery date (when the shipment was delivered)","format":"date-time","example":"2024-12-20T15:30:00Z"},"poNumber":{"type":"string","description":"Purchase order number (if provided)","example":"PO-12345"},"refNumber":{"type":"string","description":"Reference number (BOL number)","example":"BOL-67890"},"lineItems":{"type":"array","description":"Line items representing the shipped goods","items":{"$ref":"#/components/schemas/InvoiceLineItem"}},"charges":{"type":"array","description":"Itemized charges and fees","items":{"$ref":"#/components/schemas/InvoiceCharge"}},"totalChargesInCents":{"type":"integer","description":"Total of all charges in cents (USD)","format":"int32","example":125000},"totalWeight":{"type":"integer","description":"Total weight of the shipment in pounds","format":"int32","example":1500},"totalPieces":{"type":"integer","description":"Total number of pieces/pallets","format":"int32","example":4},"shipper":{"$ref":"#/components/schemas/Address"},"consignee":{"$ref":"#/components/schemas/Address"},"billTo":{"$ref":"#/components/schemas/Address"}},"description":"Itemized invoice for a delivered shipment"},"DocumentResponse":{"type":"object","properties":{"filename":{"type":"string","description":"Name of the document file","example":"BOL-12345.pdf"},"fileType":{"type":"string","description":"MIME type of the document","example":"application/pdf"},"downloadLink":{"type":"string","description":"Pre-signed URL to download the document. Link expires after a short time.","example":"https://s3.amazonaws.com/bucket/file?..."}},"description":"Response containing document download information"}},"securitySchemes":{"apiKey":{"type":"apiKey","description":"**Authorization** - API key that determines which company's resources you can access.\n\nEach API key is tied to a **single company** in Oway. Use the appropriate key type:\n\n| Key Type | Format | Use For |\n|----------|--------|---------|\n| Shipper | `oway_sk_xxx...` | Shipper API (`/v1/shipper/**`) |\n| Carrier | `oway_ck_xxx...` | Carrier API (`/v1/carrier/**`) |\n\nGenerate keys in your Oway portal (Settings → API Keys).\n\n**Required** alongside Bearer token for external API access.","name":"x-oway-api-key","in":"header"},"bearerAuth":{"type":"http","description":"**Authentication** - Bearer token that proves your identity.\n\nObtain from `/v1/auth/token` endpoint. Tokens are valid for 24 hours.\n\nRequired scopes:\n- `shipper` for Shipper API\n- `carrier` for Carrier API\n- `dev` or `prod` for environment access\n\n**Required** alongside API key for external API access.","scheme":"bearer","bearerFormat":"JWT"}}}}